[2015-02-21 03:04] ronalfy opened #2 "Ideas for Plugin Placement"
If you have time, it would be awesome to create an issue with which features you'd like to bring over.  Here are my off-the-cuff ideas.

1.  Create a sub-menu (maybe Updates Manager or Update Options) that works for both Single Site and Multisite.  Single Site can go under the Dashboard menu item (where updates are right now) and Multisite can go under Updates menu item (in Network admin).  Goal i

[2015-02-22 14:58] mpsparrow commented on #2
I like your ideas.
- We need to make it 100% Multisite capable.
- We need to keep the main features of Disable Updates Manager alive as to not lose people. We should still have some smaller settings like disable auto updates. Also, I was thinking that it would be awesome if we could add a feature to disable major and minor core updates individually.
- I have always liked the ideas of tabs as appos

[2015-02-23 07:48] ronalfy commented on #2
How about Updates Manager?  I'm not that creative with names :)

It doesn't look like it's taken:  https://plugins.trac.wordpress.org/browser/updates-manager

I'll try to begin porting stuff over this week.

[2015-02-23 15:23] mpsparrow commented on #2
I think Updates Manager is good. Are we going to submit this as a new plugin or as an update to Disable Updates Manager?

[2015-02-23 16:06] ronalfy commented on #2
That is an insanely good question.  I'd hate to get rid of the download count and good karma that your existing plugin has.

My gut reaction is keep the slug, just rename the plugin.  Unfortunately we can't get plugins@wordpress.org to do it because they say it's fairly impossible and recommend just starting a new repo if the plugin is different enough.

If we keep the same plugin, we'll need some

[2015-02-23 22:17] mpsparrow commented on #2
So I guess we can just updates the current repo then. It can be version 5.0 of Easy Updates Manager.

Anyway, we should start crunching on the coding. Do you have a good enough idea of what the plugin is going to be like so that we can start coding?

BTW, you may not know this but I am not really that great at coding. I coded this plugin with a little help from a few contributors and a lot of time

[2015-02-25 06:28] ronalfy commented on #2
Sorry, been really busy with a deadline.

Let me take a closer look at the plugin and see what makes sense. I'll try
to have a better answer Saturday and hopefully some code to go with it.
On Mon, Feb 23, 2015 at 16:17 Matthew notifications@github.com wrote:

[2015-02-26 20:49] mpsparrow commented on #2
That's ok, there is no deadline for this plugin. In fact, it is better if we take our time as to not make mistakes.

[2015-03-05 20:51] szepeviktor opened #3 "Video"
I would gladly do a video tutorial.
https://www.youtube.com/watch?v=8o3g85SeDQ8
https://www.youtube.com/watch?v=1ymdwgSHHYs

[2015-03-05 20:56] szepeviktor opened #4 "Code quality"
Good morning!

How about adding some thoughts for your plugin?

- separate languages: PHP, HTML, SQL, CSS, JS
- separate functionality: admin, frontend
- doc blocks
- max line length, soft=80, hard=120
- basic CI test
- performance
- security (nonce)
- [WordPress Coding Standards](http://codex.wordpress.org/WordPress_Coding_Standards)
- cheating: https://github.com/Yoast/wordpress-seo
- 1 PHP file

[2015-03-05 20:59] szepeviktor opened #5 "Miscellous thoughts"
- Hooks with code examples (e.g. list of must-be-disabled plugins)
- [version without UI](https://github.com/szepeviktor/wordpress-plugin-construction/blob/master/mu-disable-updates/disable-updates.php)
- Prevent also HTTP requests
- Translation updates
- Popular non-WP.org plugin updates e.g. WPML

[2015-03-05 21:17] szepeviktor commented on #4
[WordPress Coding Standards](http://codex.wordpress.org/WordPress_Coding_Standards)

[2015-03-05 21:27] szepeviktor commented on #5
How to code tabs on admin:
http://media.mediatemple.netdna-cdn.com/wp-content/uploads/2011/10/Sample-Theme_tabbed.zip

[2015-03-05 21:31] szepeviktor opened #6 ""Approved" Goals for First Version"
- [ ] Make MU-enabled
- [ ] Organize settings in tabs, metaboxes, submenus, and/or parent menu
- [ ] Recognize plugin/theme header
- [ ] Hide constant defined in wp-config
- [ ] Keep important features of Disable Updates Manager (disable plugins and themes individually, disable core).
- [x] Change name.
- [ ] Make a professional video tutorial.
- [ ] [Code quality](https://github.com/disableupdate

[2015-03-05 21:33] szepeviktor commented on #2
It isn't taken: https://wordpress.org/plugins/updates-manager

[2015-03-05 21:33] ronalfy commented on #4
Thanks.  I haven't had a chance to work on this, but I do plan on using WP coding standards, doc blocks, etc.

I'm probably also going to utilize an auto loader.

[2015-03-05 21:34] szepeviktor commented on #5
Example for auto updates: https://github.com/chipbennett/update-control

[2015-03-05 21:36] szepeviktor commented on #4
Do you work on it in private?

[2015-03-05 22:27] szepeviktor commented on #4
@ronalfy What is your taget audience? Will it a be a popular (noone should see the source) or enterprise (code audit could yield positive results) plugin?

[2015-03-05 22:39] szepeviktor commented on #5
Translation updates.

[2015-03-05 22:39] szepeviktor commented on #5
Popular non-WP.org plugin updates.
E.g. WPML

[2015-03-05 22:40] szepeviktor commented on #2
Could you list all these in https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/6?

[2015-03-05 23:12] mpsparrow commented on #3
Yes, we should defiantly have a professional looking video tutorial for this plugin.

[2015-03-07 10:14] szepeviktor commented on #6
@mpsparrow Are you willing to list all agreed goals?

[2015-03-07 17:39] mpsparrow commented on #6
They are basically all in the Plugin Placement issue. https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/2

[2015-03-07 17:41] szepeviktor commented on #6
I was thinking about using this GitHub feature: to-do list.
Maybe it is easier to read.

[2015-03-07 17:47] mpsparrow commented on #6
It would defiantly make it easier to have it all in one list. If you are willing to do it then that would be awesome.

[2015-03-07 17:54] mpsparrow commented on #3
@szepeviktor: Would you like to do this when we are done the plugin?

[2015-03-07 17:57] szepeviktor commented on #6
I let you edit it.

[2015-03-07 17:57] szepeviktor commented on #3
Yes.

[2015-03-07 17:58] szepeviktor commented on #3
Please privide my a scipt to read. Or at least a list to talk about.

[2015-03-07 17:59] mpsparrow commented on #3
Yah, we can talk about it more once we are done the plugin. For now, we need to code the plugin.

I am going to assign you for this.

[2015-03-07 18:00] mpsparrow commented on #6
Ok, I will work on the list.

[2015-03-07 18:10] mpsparrow commented on #6
I updated to list. I am pretty sure that is everything that we have agreed on so far. @ronalfy and @szepeviktor: feel free to add anything to the list.

[2015-03-07 18:14] szepeviktor commented on #2
Closed by https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/6

[2015-03-07 18:14] #2 closed

[2015-03-07 18:18] mpsparrow commented on #2
If you think of any other ideas use https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/6.

[2015-03-07 18:27] mpsparrow commented on #6
I recently did a Disable Updates Manager survey to figure out which features people use the most.
The results are interesting.
![survey question 1](https://cloud.githubusercontent.com/assets/6476699/6542670/c1a218a6-c4cd-11e4-8950-21f51c77f817.png)

[2015-03-07 18:29] szepeviktor commented on #6
Please consider not making stats from 5 answers.

[2015-03-07 18:32] mpsparrow commented on #6
Yes it is a small amount of people who took the survey but it still shows some results.

[2015-03-11 02:29] mpsparrow commented on #6
I don't really think we need this now that the coding is done.

[2015-03-11 02:29] #6 closed

[2015-03-11 02:29] mpsparrow commented on #4
Now that the coding is done, we don't really need this either.

[2015-03-11 02:29] #4 closed

[2015-03-11 02:30] mpsparrow commented on #5
Now that the coding is done, we don't really need this either.

[2015-03-11 02:30] #5 closed

[2015-03-11 02:37] ronalfy commented on #3
Videos needed
- [x] General Informational Video
- [x] General Options
- [x] Plugin Options
- [x] Theme Options
- [x] Advanced Options

[2015-03-11 02:38] ronalfy opened #7 "Plugin Banners"
- [x] Icon  (128px x 128px, 256px x 256px HiDPI ) (icon-128x128.jpg/png | icon-256x256.jpg/png)
- [x] WordPress.org Banner  (772px x 250px, 1544px x 500px HiDPI) (banner-772x250.jpg/png | banner-1544x500.jpg/png)
- [x] Screenshots
- [x] Video Intro Screenshot (HD)

Screenshots/Icon/Banner should be placed in /assets in SVN after 5.0 launch.

[2015-03-11 02:39] ronalfy opened #8 "Plugin Shortcut Links"
Add shortcut links to settings when activating/deactivating the plugin

[2015-03-11 02:40] ronalfy opened #9 "Readme.md Docs"
Add readme.md docs and/or wiki docs

[2015-03-11 02:40] ronalfy opened #10 "Readme.txt Docs"
Add general readme.txt docs
- [x] - FAQ?
- [x] - Main Description
- [x] - Readme.txt validates
- [x] - Screenshots match readme
- [x] - Short Description
- [x] - Installation
- [x] - Changelog

[2015-03-11 02:40] ronalfy opened #11 "PHP Docs"
Add code documentation

[2015-03-11 02:43] ronalfy opened #12 "Pre-commit Checklist"
- [x] - Readme.txt validates?
- [x] - Screenshots match readme
- [x] - Screenshots correct mime type
- [x] - Version numbers match (readme and plugin)

[2015-03-11 02:47] ronalfy opened #13 "Add Help Screen"
Need to add a help screen to the plugin settings page.

Dependent on:
- https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/10
- https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/9
- https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/3

[2015-03-11 06:25] szepeviktor opened #14 "Namespacing"
Please consider namspacing your classess.
https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/4

[2015-03-11 06:26] szepeviktor opened #15 "CI"
Please consider very limited TravisCI testing.
https://github.com/disableupdatespluginproject/Easy-Updates-Manager/issues/4

[2015-03-11 06:26] szepeviktor commented on #15
...or users will report the errors instead of Travis.

[2015-03-11 06:29] szepeviktor commented on #14
http://greg.harmsboone.org/blog/2014/01/08/how-can-i-use-php-namespaces-in-wordpress-plugins/
http://torquemag.io/using-namespaces-wordpress-development/

[2015-03-11 09:50] ronalfy commented on #14
Can't do namespacing until WP drops 5.2 support. Since this is an existing
plugin we are updating, we don't want to drop support and risk a fatal
error.
On Wed, Mar 11, 2015 at 01:29 Viktor Szépe notifications@github.com wrote:

[2015-03-11 18:08] szepeviktor commented on #14
I thought it was 5.3.
https://wordpress.org/about/requirements/

[2015-03-11 18:08] #14 closed

[2015-03-11 22:30] mpsparrow commented on #7
I have designs some simple logos off of an online logo maker. Do you think they are professional enough? Like you I am not the artistic type.
![logo small](https://cloud.githubusercontent.com/assets/6476699/6608359/9ac0d888-c81c-11e4-858f-d2d55aff0298.png)
![logo small ori](https://cloud.githubusercontent.com/assets/6476699/6608361/9acc718e-c81c-11e4-91c0-0a747ed9a4ea.png)
![logo full](https://clo

[2015-03-11 22:36] szepeviktor commented on #7
I know a logo designer for around €30.

[2015-03-11 22:38] mpsparrow commented on #9
I am planning to set up the GitHub wiki and not include the readme.md in the WordPress.org version. The readme.md on GitHub will just give a quick outline of the plugin and point you to WordPress.org and the GitHub wiki. Do you think this is ok?

[2015-03-11 22:42] mpsparrow commented on #7
@szepeviktor: This is a free plugin. We are not looking at spending money to make this plugin. The whole point of the logo is just to be a plain logo to fill the WordPress banner and icon.

[2015-03-11 22:42] szepeviktor commented on #9
https://github.com/xwp/wp-dev-lib

[2015-03-11 22:43] ronalfy commented on #9
Sounds great. I have a bash script that I run on my local git to commit to
WordPress svn, so it'll ignore all the git stuff. For the first 5.0 version
though, I think it'll be better if we did a manual svn release. I guess
we'll cross that bridge when we come to it :)
On Wed, Mar 11, 2015 at 17:38 Matthew notifications@github.com wrote:

[2015-03-11 22:45] ronalfy commented on #7
I think it looks cool. I know a designer friend if you want to try that,
but she'll want credit in the readme.
On Wed, Mar 11, 2015 at 17:42 Matthew notifications@github.com wrote:

[2015-03-11 22:54] mpsparrow commented on #9
When we finish this plugin I will happily give you admin access to the plugin on WordPress.org. That way you can submit 5.0 if you would like.

[2015-03-11 22:55] mpsparrow commented on #7
I don’t mind giving credit to anyone who is willing to help.

[2015-03-11 22:57] ronalfy commented on #9
No pressure :D - only 10,000+ installs to worry about..

But the features that are in there now are game changing.

On Wed, Mar 11, 2015 at 5:54 PM Matthew notifications@github.com wrote:

[2015-03-11 23:01] mpsparrow commented on #9
It would be nice if that number went up with version 5.0.

[2015-03-11 23:19] szepeviktor commented on #7
@mpsparrow I personally think that I have limited time and limited money.
So if I work 2 hours on this project that is equivalent to €30.

[2015-03-11 23:20] szepeviktor commented on #7
basically this plugin is _free_ for the user but not free for us.

[2015-03-11 23:21] szepeviktor commented on #7
Maybe I am wrong but I spend my time just like I spend my money.

[2015-03-11 23:25] ronalfy commented on #7
@szepeviktor I agree with you, but €30 is an insanely low amount for any design.

The simple fact of the matter, we're all donating our time on this project and releasing this code free and open source on .org.

[2015-03-11 23:26] szepeviktor commented on #7
Maybe I am faulty but my money does not worth more than my time.

[2015-03-11 23:27] szepeviktor commented on #7
And I feel that my time is not for free at all. It costs €16/hour.

[2015-03-11 23:28] szepeviktor commented on #7
He has 200,000+ installs:
https://wordpress.org/plugins/antispam-bee/changelog/
See the time he spent on developing this plugin.

[2015-03-11 23:30] szepeviktor commented on #7
I wouldn't refrain from spending money as I don't refrain from spending my time here.

[2015-03-11 23:31] szepeviktor commented on #7
What do you think?

[2015-03-12 02:00] mpsparrow opened #16 "GitHub Wiki"
complete the GitHub wiki

[2015-03-12 20:07] mpsparrow commented on #16
Just finished this.

[2015-03-12 20:07] #16 closed

[2015-03-12 20:10] mpsparrow commented on #9
Done

[2015-03-12 20:10] #9 closed

[2015-03-12 20:18] szepeviktor commented on #15
@mpsparrow Are you planning features first then CI later?
That does not look professional.
Please consider working on CI first.

[2015-03-12 20:21] szepeviktor opened #17 "Keep classes clean"
Please try to integrate
https://github.com/disableupdatespluginproject/Easy-Updates-Manager/blob/trunk/updates-manager.php#L194-L197
into the class.

[2015-03-12 20:23] szepeviktor opened #18 "Migrate function"
Please consider it a separate function
https://github.com/disableupdatespluginproject/Easy-Updates-Manager/blob/trunk/updates-manager.php#L81-L148

[2015-03-12 21:03] ronalfy commented on #18
Good idea.  Not urgent for launch, but I'll keep it in mind.

[2015-03-12 21:04] ronalfy commented on #17
How would you suggest doing it?  The class needs to be instantiated somehow.

[2015-03-12 21:07] szepeviktor commented on #17
Initiate it at real plugin load, and move `add_action( 'plugins_loaded',` into the constructor.

[2015-03-12 21:07] szepeviktor commented on #17
[code]

[2015-03-12 21:09] szepeviktor commented on #17
This part could stay
https://github.com/disableupdatespluginproject/Easy-Updates-Manager/blob/trunk/updates-manager.php#L29-L32
code further down could move to a `plugins_loaded()` function.

[2015-03-12 21:10] ronalfy commented on #17
Gotcha.

[2015-03-12 21:10] szepeviktor commented on #17
Please do consider 80 as a soft limit and **120** as a hard width limit.
Thanks.

[2015-03-12 21:11] szepeviktor commented on #17
Before that please merge my PR https://github.com/disableupdatespluginproject/Easy-Updates-Manager/pull/19

[2015-03-12 21:12] ronalfy commented on #17
For word wrap?  That's not a part of WP coding standards.

[2015-03-12 21:14] szepeviktor commented on #17
No, that is not.

[2015-03-12 21:15] szepeviktor commented on #17
My tilt mouse will wear out!!

[2015-03-12 21:15] szepeviktor commented on #17
Please don't write ugly code.

[2015-03-12 21:18] ronalfy commented on #17
I leave Word wrap up to the IDE settings.

[2015-03-12 21:19] szepeviktor opened #20 "Release blocker"
Please rename repo:
Easy-Updates-Manager -> easy-updates-manager

All WP plugins are lowercase.

[2015-03-12 21:23] szepeviktor commented on #17
OK.
I am too strict - at least with myself.

[2015-03-12 21:26] szepeviktor opened #21 "Plugin name"
Is *Updates Manager* OK?
https://github.com/disableupdatespluginproject/Easy-Updates-Manager/blob/trunk/updates-manager.php#L3

[2015-03-12 21:27] szepeviktor commented on #21
Description: _Manage WordPress Updates - Works with Multisite_

Maybe it can tell the user about _what_ it controls: core, themes, plugins etc.

[2015-03-12 21:27] szepeviktor commented on #21
~~Are translation updates planned to be disabled?~~

[2015-03-12 21:32] szepeviktor commented on #21
_Update Options_ sounds like it should be under _Settings_.
Consider _Update Control_ or similar.

[2015-03-12 21:32] szepeviktor commented on #17
Have you seen "your" admin page with https://wordpress.org/plugins/machine-language/ ?

[2015-03-12 21:34] szepeviktor opened #22 "Hidden from certain users??"
*Select which users to be excluded from the settings of this plugin. Default WordPress behavior will be used.*

What does it mean? Will everyone understand it?

[2015-03-12 21:36] ronalfy commented on #22
This is more for advanced users.

You can select a user which the plugin's settings will not apply.

Use-case, set up a client site, disable updates, etc.  Set up a developer account as an excluded user.

Developer can then log in and update the site as normal.

[2015-03-12 21:37] ronalfy commented on #21
I think it's going to be Easy Updates Manager.  Not sure what the menu title should be, but I'm open to suggestions.

I like the current placement.  It's where the other update settings are located in WordPress.

[2015-03-12 21:38] szepeviktor commented on #22
Now I understand it.
Could you summarize it in the plugin also?

[2015-03-12 21:39] ronalfy commented on #20
Not sure what you mean?  Why would the GitHub repo name have anything to do with it?

[2015-03-12 21:39] ronalfy commented on #22
Sure.

[2015-03-12 21:40] ronalfy commented on #16
Thanks!  I did some mods to expand on some sections.  I also plan on adding a developers page.

[2015-03-12 21:44] szepeviktor commented on #21
I don't suggest to move it.

[2015-03-12 21:45] ronalfy commented on #21
I'll give it a go.  The goal is to make this thing look / behave like core as much as possible.

[2015-03-12 21:51] szepeviktor opened #23 "[blocker] Update HTTP requests"
Please prevent HTTP traffic.

1. Enabled plugin
1. Disables every option
1. Removed all transients from the DB
1. Loaded *Update Options* page

Query Monitor says: 4 HTTP POST-s

POST
https://api.wordpress.org/plugins/update-check/1.1/
POST
https://api.wordpress.org/themes/update-check/1.1/
POST
https://api.wordpress.org/plugins/update-check/1.1/
POST
https://api.wordpress.org/themes/update-check/

[2015-03-12 21:51] szepeviktor commented on #23
Please cheat: https://github.com/szepeviktor/wordpress-plugin-construction/blob/master/mu-disable-updates/disable-updates.php

[2015-03-12 21:54] szepeviktor commented on #20
A developer - like me - could `git clone` the repo and ends up with an Upper-Case-Named folder.

[2015-03-12 21:55] ronalfy commented on #20
Ah, good point.  I'll like @mpsparrow chime in.

[2015-03-12 21:55] szepeviktor commented on #15
Please use https://github.com/xwp/wp-dev-lib for [a lot of things].
*developed by enterprise guys

[2015-03-12 21:56] ronalfy commented on #20
It's pretty easy to do, but it's his repo :D

[2015-03-12 21:58] szepeviktor opened #24 "Plugins and Themes lists"
Please don't paginate those lists.

[2015-03-12 21:59] szepeviktor commented on #24
...like WP core.

[2015-03-12 22:09] szepeviktor opened #25 "All Updates "enabled"?"
*If enabled, this will override all settings.*

I've enabled *All Updates* and disabled all other options: updates were still disabled.

[2015-03-12 22:10] szepeviktor opened #26 "WP-like settings page"
In `options-reading.php` you find:

[code]

Please follow WP-like input-in-label tag structure.

[2015-03-12 22:10] szepeviktor commented on #26
Test tool: https://wordpress.org/plugins/machine-language/

[2015-03-12 22:12] szepeviktor commented on #26
Please consider writing a function that generates this block of HTML.

[2015-03-12 22:25] ronalfy commented on #25
That's what it should do.

[2015-03-12 22:26] ronalfy commented on #24
They should be paginated.  It's unrealistic to have an infinitely long table.  I can bump the args to maybe 100, but I'm not going unlimited.

[2015-03-12 22:29] szepeviktor commented on #25
"If enabled, this will override all settings." === "If enabled, all updates will be enabled." ?

[2015-03-12 22:31] szepeviktor commented on #24
See how WP core does it: https://github.com/WordPress/WordPress/blob/master/wp-admin/plugins.php#L364

[2015-03-12 22:32] szepeviktor commented on #24
You've just commited to be "core-alike".

[2015-03-12 22:33] ronalfy commented on #24
Ack.  Then so be it.  999 it is.

[2015-03-12 22:34] ronalfy commented on #25
Maybe I should rephrase...  If updates are disabled, this will override all settings.

[2015-03-12 22:36] szepeviktor commented on #25
I am totally confused now.
Which radio button does the _override all_?

All Updates: Enabled OR Disabled ?

[2015-03-12 22:36] ronalfy commented on #26
It's a good idea and I wish we could use the settings API in multisite, but let's consider this for a future release.

[2015-03-12 22:38] ronalfy commented on #25
Updates disabled.  Updates enabled is just default WP behavior.

[2015-03-12 22:39] szepeviktor opened #27 "Check again button works a bit"
Does one:

[code]

[2015-03-12 22:40] szepeviktor commented on #25
Oh!
"If enabled, this will override all settings." should be "When disabled, updates will be completely disabled."

[2015-03-12 22:42] ronalfy commented on #25
Okay, now I'm confused.  I'm away from my developer mac, but I'll check the settings and make the change where it makes sense.

[2015-03-12 22:44] ronalfy commented on #25
Oh, nm.  I see.  Yes, "If updates are disabled, this will override all settings"

[2015-03-12 22:45] szepeviktor commented on #25
"If **this option** is disabled" - to be specific.

[2015-03-12 22:48] szepeviktor commented on #26
Are you telling me that Settings API does not work on multisite installs?
Or is it misunderstanding also :smile:

[2015-03-12 22:52] szepeviktor opened #28 "Admin page setting names"
Plugin Updates could be *All* Plugin Updates, and *Automatic* Plugin Updates.
Themes as well.

[2015-03-12 22:53] ronalfy opened #29 "Wiki"
Please check out the Wiki and add/edit what you think is appropriate.

I'll be adding a developer page that will go over the Advanced tab in more detail, have some filter rules, and go over the wp-config constant that will hide the plugin.

[2015-03-12 22:54] szepeviktor opened #30 "Add Beta Tester Options"
It is Beta or Nightly?
https://wordpress.org/plugins/wordpress-beta-tester/

[2015-03-12 22:55] ronalfy commented on #26
No, Settings API, per my understanding, does not.

[2015-03-12 22:55] ronalfy commented on #26
Like in the network admin area.

[2015-03-12 22:58] ronalfy commented on #30
http://codex.wordpress.org/Configuring_Automatic_Background_Updates#Core_Updates_via_Filter

To specifically enable development (nightly) updates, use the following:

[code]

[2015-03-12 22:58] szepeviktor opened #31 "Use variables"
https://github.com/disableupdatespluginproject/Easy-Updates-Manager/blob/8f050163d421c97233621f72452ff0e94133f593/includes/MPSUM_Disable_Updates.php#L48-L108
Please take the advantage of variables.

[2015-03-12 22:59] szepeviktor commented on #31
[code]

[2015-03-12 23:00] ronalfy commented on #31
I'd prefer to use the core WP functions.

[2015-03-12 23:02] szepeviktor commented on #30
Everyone doing WP dev is used to wordpress-beta-tester settings.
https://plugins.trac.wordpress.org/browser/wordpress-beta-tester/trunk/wp-beta-tester.php#L106

[2015-03-12 23:03] szepeviktor commented on #30
I'm just telling you this is the _standard_ WP dev plugin.

[2015-03-12 23:04] szepeviktor commented on #31
Of course!
Please reduce `add_filter()` usage from 2 to 1.

[2015-03-12 23:08] ronalfy commented on #30
Let's set this for a future release.  Add an option to select Nightly, Point, or None.

[2015-03-12 23:09] szepeviktor commented on #31
Something like

[code]

[2015-03-12 23:10] ronalfy commented on #31
I see what you mean.  I think it's a preference thing vs if/else and switch statements.  If you want to do a pull request, go for it :D

[2015-03-12 23:10] szepeviktor commented on #31
Depending on the default state.

[2015-03-12 23:13] ronalfy commented on #31
You also have to keep in mind that some of these plugin settings aren't set yet, so there's not really a default.  I only do the filter if an option is explicitly set.

[2015-03-12 23:13] szepeviktor commented on #31
You can also write an abstract function

[code]

[2015-03-12 23:13] szepeviktor commented on #31
Is there a case for unset radios??

[2015-03-12 23:14] szepeviktor commented on #31
Here it is: http://keszul.tk/tamasi/ (radios can be unset)

[2015-03-12 23:15] ronalfy commented on #31
No, there are radio boxes, but those are checked or unchecked based on defaults.

https://github.com/disableupdatespluginproject/Easy-Updates-Manager/blob/trunk/includes/MPSUM_Admin_Core.php#L12-L28

[2015-03-12 23:16] ronalfy commented on #31
But until a user goes to the General tab and saves the options, they don't exist in the options table yet.

I do this purposely so that the plugin doesn't make default assumptions on how WordPress should be updated.

[2015-03-12 23:16] szepeviktor commented on #31
Yes. I've meant radio boxes everywhere above.

[2015-03-12 23:17] szepeviktor commented on #31
[code]

[2015-03-12 23:17] ronalfy commented on #31
A switch statement should be able to work, but there is no "default" option.

[2015-03-12 23:18] szepeviktor commented on #31
Abstraction is good practice.

[2015-03-12 23:19] ronalfy commented on #31
I agree.  I did it with the saving/retrieving of options.  Not a huge fan of abstracting out filters though.  Makes it a pain for others to see what's going on.

[2015-03-12 23:20] szepeviktor commented on #31
Name your functions properly + DocBlock.

[2015-03-12 23:21] ronalfy commented on #31
I'm a fan of abstraction when it makes sense.  In this case it doesn't.

[2015-03-12 23:21] #31 closed

[2015-03-12 23:41] mpsparrow commented on #15
We will consider this but for now I am putting it as a low priority.

[2015-03-12 23:43] mpsparrow commented on #20
Will do.

[2015-03-12 23:43] mpsparrow commented on #20
Done

[2015-03-12 23:43] #20 closed

[2015-03-12 23:48] mpsparrow commented on #29
Sounds good. I just made a quick wiki but it would be good if we went into more details.

[2015-03-12 23:49] mpsparrow commented on #16
Great!

[2015-03-12 23:59] mpsparrow commented on #7
I think in less @ronalfy wants to do something else I am just going to design a simple logo for now.

[2015-03-13 00:05] mpsparrow commented on #10
I need to get motoring on this. We can't update the plugin until the readme.txt is done.

[2015-03-13 00:07] ronalfy commented on #10
If I have time, I'll take a crack at this.  I won't be able to do anything until this weekend though.

[2015-03-13 00:08] ronalfy commented on #7
Yeah, I ran it by my designer friend, but she is unfortunately too busy.  The good thing about banners though.. we can always change them :D

[2015-03-13 00:09] szepeviktor commented on #23
This is invalid because _All updates_ option was misleading.

[2015-03-13 00:09] #23 closed

[2015-03-13 00:14] mpsparrow commented on #7
I will just make a plain version of the stuff so that we can update the plugin and then when your designer friend is available she can design the stuff.

[2015-03-13 00:14] mpsparrow commented on #10
For now, I will take a stab at it and let you know what the result is.

[2015-03-13 00:19] ronalfy commented on #7
Sure thing.  Just keep in mind on the banner that .org will overlay the plugin name.  So maybe just the vector you have?

For the video, I can just use the graphic and add the plugin name beneath it.

Do you happen to have a dropbox that we can stash files in, or something else in mind perhaps?

[2015-03-13 00:36] mpsparrow commented on #7
You mean these?
![banner-772x250](https://cloud.githubusercontent.com/assets/6476699/6631110/708dbf14-c8f7-11e4-9351-255fa7ba0833.png)
![icon-128x128](https://cloud.githubusercontent.com/assets/6476699/6631111/71ee6afc-c8f7-11e4-8454-199710f2dbde.png)

[2015-03-13 00:36] mpsparrow commented on #7
Also, I don't have a dropbox account. I could make one.

[2015-03-13 01:42] ronalfy commented on #7
How about something like this?  http://www.shutterstock.com/pic-236431474/stock-vector-cloud-computing-refresh.html?src=Q9QvGyhuMdXkmuzuawmBVA-3-36

I don't mind getting it.  I can easily make a banner / icon out of that.

[2015-03-13 12:40] mpsparrow commented on #7
That looks good.

[2015-03-13 13:45] mpsparrow commented on #21
I think we should call the plugin Easy Updates Manager but we can change the settings title to make it seem more core-like.

[2015-03-13 19:25] #21 closed

[2015-03-14 23:01] szepeviktor opened #32 "off: Option debugging"
https://github.com/szepeviktor/option-inspector
Go to Settings / Options click on a serialized value.

[2015-03-17 03:43] mpsparrow commented on #32
@Ronalfy, what do you think about this?

[2015-03-17 17:45] ronalfy commented on #17
See https://github.com/easy-updates-manager/easy-updates-manager/commit/06191f2438f664c1dc3531892315645df71425d9

[2015-03-17 17:45] #17 closed

[2015-03-17 17:47] mpsparrow commented on #29
I think that for now this is done. We have the basics of the plugin and how to use it.

[2015-03-17 17:47] #29 closed

[2015-03-17 17:50] mpsparrow commented on #10
I have been fairly busy. I was able to add a few things but not much. I will take a stab at it now.

[2015-03-17 18:06] mpsparrow commented on #7
Did you look into getting it?

[2015-03-17 18:45] mpsparrow opened #33 "Add translation files"
Add translation to Easy Updates Manager.

[2015-03-17 19:03] #11 closed

[2015-03-17 19:04] mpsparrow commented on #11
Nice job!

[2015-03-17 19:06] ronalfy commented on #22
See https://github.com/easy-updates-manager/easy-updates-manager/commit/04e6c17cc26f96449b9daf29766247fbb796484f

[2015-03-17 19:06] #22 closed

[2015-03-17 19:07] ronalfy commented on #33
Thanks, I'll do this as soon as most of the strings are finalized.

[2015-03-17 19:10] ronalfy commented on #28
See https://github.com/easy-updates-manager/easy-updates-manager/commit/8950ee8ea9b0ed419d9a71857a5b4734d3ac54fb

[2015-03-17 19:10] #28 closed

[2015-03-17 19:14] mpsparrow commented on #33
Ok thanks.

[2015-03-17 19:16] ronalfy commented on #18
See https://github.com/easy-updates-manager/easy-updates-manager/commit/89f56713f7fd5bafbb1d04026f4e8b798a440281

[2015-03-17 19:16] #18 closed

[2015-03-17 19:18] ronalfy commented on #25
See https://github.com/easy-updates-manager/easy-updates-manager/commit/b13c97df170b83eed68622a9a1201efdc1e15fc6

[2015-03-17 19:18] #25 closed

[2015-03-17 19:21] ronalfy commented on #24
See https://github.com/easy-updates-manager/easy-updates-manager/commit/0cfa9e2b0927e23d715d3051c39a573f57c7599f

[2015-03-17 19:21] #24 closed

[2015-03-17 19:23] szepeviktor commented on #28
@ronalfy You are doing it fast.

[2015-03-17 19:29] mpsparrow commented on #28
He is fast at typing. I can barley keep out with him.

[2015-03-17 19:42] ronalfy commented on #8
See https://github.com/easy-updates-manager/easy-updates-manager/commit/37ea84af0dcc1e61aa8d0e7fe565f064d006e623

[2015-03-17 19:42] #8 closed

[2015-03-17 19:57] mpsparrow commented on #10
What do you think is the "Requires at least" version?

[2015-03-17 20:01] ronalfy commented on #10
I would say to be safe 4.0.

[2015-03-17 20:04] mpsparrow commented on #32
I don't see the point in this.

[2015-03-17 20:04] #32 closed

[2015-03-17 20:05] mpsparrow commented on #10
Ok, that's what I thought.

[2015-03-17 20:05] szepeviktor commented on #32
If you have to know tha value of a serialized option:
just click on it in Settings / Options
That simple.

[2015-03-17 20:05] szepeviktor commented on #32
Maybe you are in that situation when you develop a plugin.

[2015-03-17 20:06] mpsparrow commented on #32
But that has nothing to do with Easy Updates Manager.

[2015-03-17 20:06] szepeviktor commented on #32
That's what "off" stands for.

This is today's new plugin: https://wordpress.org/plugins/plugin-installer-speedup/
Helps speeding up plugin installation.

[2015-03-17 20:07] szepeviktor commented on #32
...maybe while developing Easy Updates Manager you'd take a look at a serialized option.

[2015-03-17 20:08] mpsparrow commented on #32
Your plugins look very nice, but can you please stop trying to promote them here.

[2015-03-17 20:08] szepeviktor commented on #32
OK-OK.

[2015-03-17 20:32] #13 closed

[2015-03-17 20:37] ronalfy commented on #33
See https://github.com/easy-updates-manager/easy-updates-manager/commit/cf849ed5b3d8598ffa7bfeaf819141ff4b58f9dd

[2015-03-17 20:37] #33 closed

[2015-03-17 20:42] mpsparrow commented on #13
Awesome!

[2015-03-17 20:42] mpsparrow commented on #33
Great

[2015-03-17 20:52] mpsparrow commented on #10
Me cannot change that part in the short description. b95ed55beea181a38f9aa51d67aa9af558615cc3 it puts the short description over the maximum 150.

[2015-03-17 20:54] mpsparrow commented on #10
That is why I changed it in 1e5cb89f8d26ab3c9abe5a378094bda72e433052

[2015-03-17 20:54] mpsparrow commented on #10
Sorry, I mean b95ed55beea181a38f9aa51d67aa9af558615cc3

[2015-03-17 21:01] mpsparrow commented on #10
Just fixed this in 1f7829dfa966f5cafa9e24483e52471316d7f43c. Re-worded it as to not remove the WordPress Multisite and keep it under 150.

[2015-03-17 21:01] ronalfy commented on #27
Looking at the code of wp_version_check, there's no way to exit this function if $force_check is true.

[2015-03-17 21:04] ronalfy commented on #7
I'll try to look into this today.  I need a break from my sprint :)

I'll set up a dropbox folder and invite you to it.

[2015-03-17 21:04] mpsparrow commented on #7
Ok, good job today!

[2015-03-17 21:09] mpsparrow opened #34 "Add option to toggle uninstall.php"
Add an option in the Advanced section to toggle on/off the uninstall.php.

[2015-03-17 21:41] szepeviktor commented on #27
`empty( $_GET['force-check'] )` see:
https://github.com/szepeviktor/wordpress-plugin-construction/blob/master/mu-disable-updates/disable-updates.php#L72

[2015-03-17 21:42] szepeviktor commented on #27
Don't remove actions when _Check again_ is clicked.

[2015-03-18 03:01] ronalfy commented on #7
![easy-updates-manager](https://cloud.githubusercontent.com/assets/636521/6701890/d4c37fe4-ccf0-11e4-9328-2313c6db4342.png)

I've shared what I've done so far on Dropbox.  Here's a screenshot of what it might look on .org.

Also, here is the icon.

![icon-256x256](https://cloud.githubusercontent.com/assets/636521/6701912/1b5f61b6-ccf1-11e4-8369-1714962b1ce0.png)

[2015-03-18 13:02] mpsparrow commented on #7
That looks awesome!

[2015-03-18 13:05] mpsparrow opened #35 "Check capability with WordPress 4.2 beta 1"
WordPress 4.2 beta 1 was released. There is something that may affect this plugin.

[2015-03-18 13:18] mpsparrow commented on #7
Just got into Dropbox to view the rest of them. I say that it looks very professional.

[2015-03-18 13:44] mpsparrow commented on #35
Tested and appears to work.

[2015-03-18 13:44] #35 closed

[2015-03-18 14:30] mpsparrow opened #36 "Tranlsation Updates Setting not working in 4.2 beta 1"
Translation updates are still showing even if setting is turned to disabled. This is in 4.2 beta 1.

[2015-03-18 14:55] ronalfy commented on #36
Maybe this is a separate issue.  The option for translation updates covers automatic updates, and doesn't do anything to prevent them from showing.

[2015-03-18 23:14] ronalfy commented on #36
Solved with https://github.com/easy-updates-manager/easy-updates-manager/commit/27e11f6a6179aca5616748f5f1910c384e7823bc

The option you used was the one for automatic translations, which does not disable translation updates.  It merely enables/disables automatic translation updates.

I added in another option which allows you to disable the translation notifications.

[2015-03-18 23:14] #36 closed

[2015-03-18 23:23] mpsparrow commented on #36
perfect

[2015-03-19 00:12] ronalfy commented on #7
Cool, thanks.  My voice is shot (coming down with a cold), so I will try to do some videos this weekend.

One thought I have is to do just a general video with no narration, so perhaps we can find a Creative Commons track we can use as background music.

[2015-03-19 00:50] ronalfy commented on #7
![plugin-hd](https://cloud.githubusercontent.com/assets/636521/6722478/04fb021a-cda8-11e4-94d8-6184f310b82e.png)

This is my proposal for the video intro.  Visby typeface.  Red all in your face :D

[2015-03-19 01:22] ronalfy commented on #7
I also pushed some screenshots into Dropbox and updated the readme.  Please let me know what you think.

[2015-03-19 14:21] mpsparrow commented on #7
Awesome screenshots. Also the video intro picture is good.

We should have an introduction/promotional video along with then having tutorial videos on how to use the plugin.

Are you going to upload the videos onto YouTube? If so you can select some background music for it when uploading it to YouTube.

Keep up the good work!

[2015-03-19 14:29] mpsparrow commented on #7
Since we have all the pictures I am going to close this. We have an issue already open for the video so we can continue there.

[2015-03-19 14:29] #7 closed

[2015-03-19 14:31] mpsparrow commented on #12
I am closing this as it seems like everything on it is complete.

[2015-03-19 14:31] #12 closed

[2015-03-20 16:52] mpsparrow commented on #10
Do you think we need a FAQ?

[2015-03-21 01:33] mpsparrow opened #37 "Add GitHub webpage"
Add a GitHub webpage for documentation and for an official plugin webpage.

[2015-03-21 02:16] mpsparrow commented on #37
http://easy-updates-manager.github.io/easy-updates-manager/

[2015-03-21 02:16] #37 closed

[2015-03-23 14:31] mpsparrow commented on #3
We need to release the plugin. I keep getting e-mails from people about errors in Disable Updates Manager. If we don't release it in the next week then we could lose lots of downloads.

[2015-03-23 14:37] ronalfy commented on #3
Agreed.  The plugin could use some more testing, such as a raw install of the old plugin, configure, overwrite files, test options migration.  Note any errors or bad UX.

I've been sick for the past 5 days and finally got my voice back, so I'll try to do some videos tonight.

[2015-03-23 14:41] mpsparrow commented on #3
Ok great! I can do some more testing on my localhost install to check for any errors.

Great that you got your voice back!

[2015-03-23 14:42] szepeviktor opened #38 "Different fake values"
Please be notified that users reported slow page load on WP.org support.

Here: https://github.com/easy-updates-manager/easy-updates-manager/blob/trunk/includes/MPSUM_Disable_Updates_All.php#L139
3 different fake values are needed:
See: https://github.com/szepeviktor/wordpress-plugin-construction/blob/master/mu-disable-updates/disable-updates.php#L172-L216

[2015-03-23 14:43] mpsparrow commented on #3
Also just added you as a committer to the plugin. You can push the update of the plugin when were ready.

I have to go right now but I can do the testing this evening (hopefully).

[2015-03-23 15:40] ronalfy commented on #38
What is the issue?  I'm returning the exact same thing.

[2015-03-24 04:10] ronalfy commented on #3
Heya, here's a link to the video playlist:  https://www.youtube.com/playlist?list=PL7YF6bIhLLz0HzndENZZAdoh2nJBefTeA

And here's the channel where I'm posting all the videos.

https://www.youtube.com/channel/UCGGX_ELs6WyvgJCtUC58uLw

[2015-03-24 04:22] ronalfy commented on #3
They're not perfect, but I think they work.  Closing for now.

[2015-03-24 04:22] #3 closed

[2015-03-24 04:24] ronalfy commented on #10
How about we add one as we need to.

[2015-03-24 04:35] ronalfy commented on #10
I'm thinking this is done.  Thoughts @mpsparrow ?

[2015-03-24 05:31] ronalfy opened #39 "Migrating Options Question"
In the update, when the plugin migrates the old options, it deletes the old options in the migration process.

Should we leave this so there is a downgrade path, or just go with it?

The problem with leaving it is it'll just clutter up the options table.  And if someone's options are wiped out, they can easily just re-configure the plugin.

Thoughts?

[2015-03-24 19:42] mpsparrow commented on #3
Nice! They give a nice overview of the plugin. I also like it that you made a channel to put them all in as appose to just putting them on a personal channel.

[2015-03-24 19:43] mpsparrow commented on #10
Yah. We can add more in the upcoming versions.

[2015-03-24 19:43] #10 closed

[2015-03-24 19:46] mpsparrow commented on #39
I say we just leave it as is. If this appears to be a problem then we can release a minor update to fix it.

[2015-03-24 19:52] mpsparrow opened #40 "Release Version 5.0"
Now all that is left is to release version 5.0. Do you (@Ronalfy) want to do it,  or would you like me to do it?

[2015-03-24 19:56] mpsparrow commented on #37
Decided not to do this.

[2015-03-24 20:11] #39 closed

[2015-03-24 20:12] mpsparrow commented on #40
Ok, just made a minor fix. Now it is ready (in less you have anything to commit).

[2015-03-24 20:16] ronalfy commented on #40
If it is okay, I'd like to do this.  I'd like to do one sanity test at home on a prod box and then pull the trigger.  I can do this tonight and then I'll subscribe to the .org forums to get any support requests.

[2015-03-24 20:18] mpsparrow commented on #40
Sounds great.

Yes, we should add that it is tested to 4.2 beta1.

[2015-03-24 20:19] mpsparrow commented on #40
Sounds good.

[2015-03-24 20:21] mpsparrow commented on #40
For support we can both watch the WordPress.org forum and answer stuff there. If there are any thing that need to be fixed from one of the WordPress.org topics then we should add it to GitHub with a link to the main topic.

[2015-03-24 20:22] ronalfy commented on #40
Roger that.  Agree.

[2015-03-24 20:23] mpsparrow commented on #40
Ok, looking forward to when it is released!

[2015-03-24 20:28] mpsparrow commented on #40
Also, don't forget to add in the screenshots when you release it.

[2015-03-24 22:52] ronalfy commented on #40
It is alive!!!!  https://wordpress.org/plugins/stops-core-theme-and-plugin-updates/

[2015-03-24 22:52] #40 closed

[2015-03-25 00:09] mpsparrow commented on #40
Awesome!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2015-03-25 00:15] mpsparrow commented on #34
What do you think about this @easy-updates-manager/owners?

[2015-03-25 00:19] ronalfy commented on #34
Schweeet!

[2015-03-25 00:22] mpsparrow commented on #34
I will add it to the 5.1 milestone.

[2015-03-25 12:58] mpsparrow commented on #40
Already has 500+ downloads today.

[2015-03-26 01:38] ronalfy commented on #40
We broke 800 and zero support queries so far :)
On Wed, Mar 25, 2015 at 07:58 Matthew notifications@github.com wrote:

[2015-03-26 19:22] mpsparrow commented on #40
Still no support topics.

[2015-03-31 01:33] mpsparrow commented on #38
This is not a problem is Easy Updates Manager. It was a problem in Disable Updates Manager but seeing as @easy-updates-manager/owners re-wrote the plugin (resulting is Easy Updates Manager), these values are no longer a problem with the admin page load speed. In fact, I thing the Easy Updates Manager settings page loads as fast if not faster then most admin pages.

[2015-03-31 01:33] #38 closed

[2015-03-31 01:38] mpsparrow commented on #27
@Ronalfy: are you going to fix this? It is marked as wontfix but at the same time you assigned it for a feature release.

[2015-03-31 01:40] mpsparrow commented on #15
After a little consideration I have decided that this isn't really needed.

[2015-03-31 01:40] #15 closed

[2015-03-31 02:09] ronalfy commented on #27
No, go ahead and close it. This is normal behavior and I don't want to get
hacky fixing it.
On Mon, Mar 30, 2015 at 20:38 Matthew notifications@github.com wrote:

[2015-03-31 20:35] #27 closed

[2015-04-04 14:17] mpsparrow opened #41 ""Skip" feature idea"
https://wordpress.org/support/topic/skip-feature-idea?replies=2

I thought this was a pretty good idea. We could add the feature for the plugins and themes straight in the plugin and theme tables. There could just be a simple drop down that you could click on to select which version you would like to disable (it would also disable all the versions below it). We could also add feature for the core

[2015-04-04 16:17] ronalfy commented on #41
This is a good idea. It's a pretty involved feature though.
On Sat, Apr 4, 2015 at 09:17 Matthew notifications@github.com wrote:

[2015-04-04 18:03] mpsparrow commented on #41
Yah, that's why I added it for a future release.

[2015-04-28 22:50] mpsparrow opened #42 "Resolve current topics on the WordPress support forum"
- [ ] https://wordpress.org/support/topic/updates-have-not-been-stopped?replies=2
- [x] https://wordpress.org/support/topic/disable-all-didnt-work?replies=2
- [x] https://wordpress.org/support/topic/theme-updated-despite-being-disabled?replies=7
- [x] https://wordpress.org/support/topic/does-not-seem-to-be-working-3?replies=8

[2015-04-29 00:03] ronalfy commented on #42
Thanks! A lot of these I can't duplicate and suspect it might be hosts
doing these updates. I'll keep testing though.
On Tue, Apr 28, 2015 at 17:51 Matthew notifications@github.com wrote:

[2015-05-04 13:22] mpsparrow opened #43 "Change text on WP "Updates" view"
https://wordpress.org/support/topic/change-text-on-updates?replies=2

[2015-05-11 03:02] mpsparrow commented on #43
I am questioning whether or not this is worth it. Some people would like it to show that Easy Updates Manager is disabling the updates but at the same time other people may not want this to show because they are hiding it from a client or something. @easy-updates-manager/team what do you think?

[2015-05-11 03:03] mpsparrow commented on #42
Any update on how this is going? Need help?

[2015-05-11 04:48] ronalfy commented on #43
I'd rather leave it default.
On Sun, May 10, 2015 at 22:02 Matthew notifications@github.com wrote:

[2015-05-11 04:49] ronalfy commented on #42
I've set up tests on most of these scenarios. Unable to duplicate at all.
On Sun, May 10, 2015 at 22:03 Matthew notifications@github.com wrote:

[2015-05-11 14:27] #43 closed

[2015-05-11 14:33] mpsparrow commented on #42
I am wondering whether some of these were just a one time occurrence.

[2015-05-12 19:07] ronalfy commented on #9
Just saw this today. WordPress.org is now showing 20,000+ installs.

[2015-05-12 19:15] ronalfy opened #44 "Notification E-mails"
A user requested a feature be added to the plugin to manage e-mail notifications.

https://wordpress.org/support/topic/change-address-email-that-receive-update-report

I can see why a user would want this part of the plugin, just want to know if it makes sense to add it in, and if so, where to add it in.

If we do add it in, I fear it will be an additional support burden when people start having e

[2015-05-12 21:02] mpsparrow commented on #9
Noticed the same thing just a few hours ago.

[2015-05-12 21:10] mpsparrow commented on #44
I don't think this is worth a new setting. You said it best:

Although I do think that we should add some sort of documentation staying how to change it just so that we don't get a million support questions. I will add an FAQ to the readme.txt along with adding a FAQ to the wiki. I will basically say exactly what you replied in the topic.

I will mark this as closed once I add the FAQ's.

[2015-05-12 21:13] mpsparrow commented on #42
Are you going to make a workaround video? https://wordpress.org/support/topic/does-not-seem-to-be-working-3?replies=10

[2015-05-12 21:25] mpsparrow commented on #44
To do:
- [x] Add readme.txt FAQ
- [x] Add a wiki FAQ

[2015-05-12 21:28] #44 closed

[2015-05-12 21:29] mpsparrow commented on #44
If you what to add anything to the FAQ go ahead.

[2015-05-12 22:00] mpsparrow commented on #42
Is this the type of workaround for that? http://birdhouse.org/blog/2013/11/02/force-wordpress-auto-update/

[2015-05-12 22:13] ronalfy commented on #42
Yes, I do plan to. I just haven't gotten to it yet.

The technique above doesn't work 100% of the time.  The best way is to modify /wp-includes/version.php' and bump the version down. Then use a cron plugin (I like the Sucuri plugin for this) to re-trigger the update crons.

I used this to test the WordPress core auto-updates, and it has the added bonus of also triggering the auto-updates for plug

[2015-05-12 22:16] ronalfy commented on #44
Thanks.  Looks good.

[2015-05-12 22:17] mpsparrow commented on #42
Ok sounds good. Are you planning just to make a video tutorial for it and post it on the Easy Updates Manager YouTube channel?

[2015-05-12 22:23] ronalfy commented on #42
Yeah, and I'll respond to the thread as well. Just a matter of finding the time to do it.

[2015-05-12 22:24] mpsparrow commented on #42
Ok sounds good! (don't feel rushed)

[2015-05-14 20:33] mpsparrow commented on #42
For now I am going to mark https://wordpress.org/support/topic/theme-updated-despite-being-disabled?replies=7 as resolved because they appear to not be having the problem.

 As for
 https://wordpress.org/support/topic/does-not-seem-to-be-working-3?replies=8
 I think I am going to mark this as resolved because you posted the answer.

Any objections @easy-updates-manager/team?

[2015-05-14 20:42] ronalfy commented on #42
None here.

On Thu, May 14, 2015 at 3:33 PM Matthew notifications@github.com wrote:

[2015-05-14 20:44] mpsparrow commented on #42
Ok then. I am closing this issue seeing as the person in the one support topic left is not replying.

[2015-05-14 20:44] #42 closed

[2015-05-30 15:17] mpsparrow opened #45 "Automatically Updating when First Downloaded (sometimes)"
There appears to be some sort of error that automatically updates everything on peoples websites when the plugin is first installed.

https://wordpress.org/support/topic/theme-updated-despite-being-disabled?replies=12
https://wordpress.org/support/topic/pretty-cool-but?replies=3#post-

@easy-updates-manager/team: Do you think this is an error with the plugin or with something on there install?

[2015-05-30 15:56] ronalfy commented on #45
I'll try to test this tomorrow, but I'm moving into an apartment this
weekend, so it will be difficult.
On Sat, May 30, 2015 at 10:17 Matthew notifications@github.com wrote:

[2015-05-30 15:57] mpsparrow commented on #45
I will do some testing also.

[2015-05-31 20:36] mpsparrow commented on #45
Another one here https://wordpress.org/support/topic/theme-updated-despite-auto-updates-being-disabled?replies=2

[2015-06-01 00:40] ronalfy commented on #45
Okay, I did some testing on this and was not able to duplicate it.

The first thing I did was delete the plugin and delete the options it creates.

I installed the plugin fresh. When the plugin is first installed, it does NOT save any options. It leaves WordPress alone.

Only when I went and saved options was the plugin brought to life. Then it allowed/disallowed automatic updates.

My conclusion

[2015-06-01 15:52] mpsparrow commented on #45
Ok, then it is a problem on there end. So I am going to close this.

[2015-06-01 15:52] #45 closed

[2015-07-07 14:39] mpsparrow opened #46 "Test Capability with 4.3 (RC and Betas)"
@easy-updates-manager/owners: We should all make a fresh install and test Easy Updates Manager with each new beta and RC.

[2015-07-07 14:50] mpsparrow commented on #46
Should also be tested with MU.

[2015-07-07 16:00] mpsparrow commented on #46
Just tested on a fresh single 4.3 beta 1 site and it all appears to be working.

[2015-07-16 23:32] ronalfy commented on #46
Thanks, I'll be able to test this out this weekend.

I don't anticipate any issues. The plugin, for a major point release, is insanely stable.

[2015-07-17 03:20] mpsparrow commented on #46
Yes, neither do I. Nothing to do with the updates system have been changed in 4.3. But nevertheless we should still test it to ensure that the plugin is safe and secure.

I am planning on doing some more testing this weekend and/or some early next week.

[2015-07-31 22:32] mpsparrow commented on #46
As far as I have tested everything is working well with 4.3 RC1. I am planning on doing a little more multisite testing but I think we are safe for the update to WordPress 4.3, that is if you haven't found anything.

[2015-08-08 17:39] mpsparrow commented on #46
I have done tons of testing on this lately and have found no errors with 4.3 RC1. I am closing this.

[2015-08-08 17:39] #46 closed

[2015-08-08 17:41] mpsparrow opened #47 "WordPress 4.3 Field Notes (Lots of Changes for Plugin Developers!)"
We should look over these changes to make sure that none affect Easy Updates Manager.

https://make.wordpress.org/plugins/2015/08/08/wordpress-4-3-field-notes-lots-of-changes-for-plugin-developers/

[2015-08-11 12:52] mpsparrow opened #48 "5.1 Release"
We haven't released an update in a while. With WordPress 4.3 being released on August 18, 2015, I think this is a perfect time to do a 5.1 release of Easy Updates Manager.

Current issues for 5.1 milestone:
- [x] https://github.com/easy-updates-manager/easy-updates-manager/issues/47
- [x] https://github.com/easy-updates-manager/easy-updates-manager/issues/34 ?
- [x] https://github.com/easy-updates

[2015-08-11 18:43] ronalfy commented on #48
Looks like the menus changed in multisite, so I had to move it to the Dashboard area like in Single Site.

This means we either need a WP version check, or just bump the minimum requirement to 4.3.

[2015-08-11 18:52] ronalfy commented on #48
Let's skip #30 for this release. It's a bit involved.

[2015-08-11 19:02] ronalfy commented on #47
Multisite and single-site considerations have been applied.

[2015-08-11 19:02] #47 closed

[2015-08-11 19:03] ronalfy commented on #48
Actually 4.3 will be a required min req for this release. Too many changes.

[2015-08-11 19:03] ronalfy commented on #48
Let's defer #34 to milestone 5.2.

[2015-08-11 19:04] ronalfy commented on #48
Issue #47 is now resolved.

[2015-08-11 19:10] ronalfy commented on #48
I'm ready to release this when you are.

[2015-08-12 00:38] mpsparrow commented on #48
Awesome. Do you think we should release it now or when 4.3 is released?

[2015-08-12 00:41] mpsparrow commented on #48
Also the FAQ in the readme.txt could use an update.

[2015-08-12 01:00] ronalfy commented on #48
I think ASAP as this is related to the multisite issues: https://wordpress.org/support/topic/crap-breaks-backend#post-

I'll check out the FAQ tomorrow, but feel free to edit. Maybe after the 3rd RC we can push this out?

[2015-08-12 01:50] mpsparrow commented on #48
Sure sounds good. I can have a look at the FAQ Thursday.

Yes, lets plan to release it then.

[2015-08-12 01:58] ronalfy commented on #48
Sounds amazing.

If you're worried about the min version, I wouldn't be. As an updates manager, it's kind of our prerogative to be with core as much as possible.

[2015-08-13 03:24] mpsparrow commented on #48
Yes, I am not that worried about the minimum version. If people want a version that works with 4.2 then they can download a past version. The only thing is I don't want to update the version before 4.3 comes out and then have people using 4.2 and 5.1. Then we will get endless support topics about how it is not working.

Nice video by the way ;)

[2015-08-13 15:11] mpsparrow commented on #48
I updated the FAQ a little. I think it is good for now.

[2015-08-13 15:50] ronalfy commented on #48
Awesome. I'll push this out this evening. Thanks!
On Thu, Aug 13, 2015 at 10:11 Matthew notifications@github.com wrote:

[2015-08-13 18:33] mpsparrow commented on #48
Great!

[2015-08-14 00:34] ronalfy commented on #48
Released.

[2015-08-14 00:34] #48 closed

[2015-08-14 00:35] mpsparrow commented on #48
Awesome!!!

[2015-08-14 16:09] mpsparrow commented on #48
Just noticed that Easy Updates Manager is now running on 30,000+ installs!

[2015-08-14 16:41] ronalfy commented on #48
Wowzers
On Fri, Aug 14, 2015 at 11:09 Matthew notifications@github.com wrote:

[2015-08-18 08:01] ronalfy opened #50 "Minor Release After 4.3 is Out"
As you may have noticed, our downloads have went down because of our minimum version requirement of 4.3.

I think once 4.3 is out, we'll see a significant increase in downloads.

I anticipate a flood of support requests, just like we saw with 4.2.

Let's keep track of issues and assign them to milestone 5.1.1.

[2015-08-18 08:02] ronalfy opened #51 "Test German Translation"

[2015-08-18 13:14] mpsparrow commented on #50
It is not out yet but as far as I can tell it will be out later this afternoon.

Will do

[2015-08-18 19:53] mpsparrow commented on #50
4.3 is out now!

[2015-08-18 19:56] ronalfy commented on #50
Let the games begin.
On Tue, Aug 18, 2015 at 14:53 Matthew notifications@github.com wrote:

[2015-08-18 20:04] mpsparrow commented on #50
Are downloads are skyrocketing. We have gotten 50 download in the last 5 minutes.

[2015-08-18 23:07] ronalfy commented on #50
Wowzers, a definite jump.

On Tue, Aug 18, 2015 at 3:04 PM Matthew notifications@github.com wrote:

[2015-08-19 13:34] mpsparrow commented on #50
1700 already today and no reported problems

[2015-08-19 13:41] ronalfy commented on #50
Very awesome.
On Wed, Aug 19, 2015 at 08:34 Matthew notifications@github.com wrote:

[2015-08-19 18:05] mpsparrow commented on #51
Just tested this now. It appears to work great on both multisite and single site. The only thing is that the Allow Updates and Disallow Updates words in the plugin and theme tables dropdown selectors don't appear to be translated on both multisite and single site installs.
![screenshot 2015-08-19 14 04 06](https://cloud.githubusercontent.com/assets/6476699/9364630/65e7fa32-467b-11e5-9eb7-6cdc7b880

[2015-08-19 22:36] ronalfy opened #52 "Update Screenshots to Reflect 4.3 Admin"

[2015-08-19 22:40] ronalfy opened #53 "Dashboard Tab View Idea"
I think it would be cool to add a "Dashboard" like screen when people go to our plugin.

I envision it to have an at-a-glance view of what settings are enabled/disabled.

I also think it would be cool to have some quick options that will mimic what a user would select.

Examples:
* Free sailing mode - Enable all updates and automatic updates
* Disable all WordPress updates (core, plugins, themes)

[2015-08-19 22:45] mpsparrow commented on #52
The previous screenshots were also a little big. We should try to keep it below a 700px width if possible.

[2015-08-19 22:48] mpsparrow commented on #53
Haha, I was think of this exact same thing a hour ago. A dashboard tab would defiantly help people to not get confused on what is disabled/enables. It would be nice if the dashboard simplified that.

I think we can add this to the 5.2 milestone and then bump the other stuff to 5.3 like you suggested.

[2015-08-19 22:51] mpsparrow commented on #50
Ok, above the 2,000 download mark today and still no reported problems. If we don't get any by this weekend then I think we can close this.

[2015-08-19 22:53] mpsparrow commented on #52
I can take care of this if you would like.

[2015-08-20 01:28] ronalfy commented on #52
Sure, go for it! Thank you!

[2015-08-20 01:29] ronalfy commented on #50
Yes. 2000 is pretty epic if you ask me. And no support? Wowzers.

[2015-08-21 14:00] mpsparrow opened #54 "change main.php to easy-updates-manager.php"
https://wordpress.org/support/topic/directory-name-1?replies=2

[2015-08-21 14:36] ronalfy commented on #54
If we do this, we break things.
On Fri, Aug 21, 2015 at 09:00 Matthew notifications@github.com wrote:

[2015-08-21 15:01] mpsparrow commented on #54
Ok then.

[2015-08-21 15:01] #54 closed

[2015-08-21 15:46] ronalfy commented on #54
Sorry, didn't intend to sound blunt. I actually tried to change this for 5.0, but it caused plugin deactivation since I changed the main plugin file.

Not really anything we can do.

[2015-08-23 19:39] mpsparrow opened #55 "disabling/enabling plugin or theme automatic updates shows wrong notice"
When you are enabling or disabling plugin or theme automatic updates individually it shows "The selected plugin updates have been disabled.". Should it not say something like "The selected plugins automatic updates have been disabled"?

![screenshot 2015-08-23 15 38 51](https://cloud.githubusercontent.com/assets/6476699/9429875/20dc81c6-49ad-11e5-96fc-284cb1701e60.png)

[2015-08-23 19:40] mpsparrow commented on #55
I added it to 5.2 but if you think otherwise then feel free to change it.

[2015-08-23 20:37] mpsparrow commented on #51
It is also not translating the Allow and Disallow automatic updates.
![screenshot 2015-08-23 16 30 37](https://cloud.githubusercontent.com/assets/6476699/9430081/3aa02be6-49b5-11e5-86ef-27886f510c1b.png)

Besides that everything else appears to be translating.

[2015-08-23 20:43] mpsparrow commented on #51
Actually there is one other thing that was actually missed in the translating, the plugin description. @pixolin: Is it possible for you to translated the plugin description for us?
![screenshot 2015-08-23 16 42 59](https://cloud.githubusercontent.com/assets/6476699/9430107/0cd5eb6e-49b6-11e5-8bc9-f78b17784be0.png)

[2015-08-23 20:51] mpsparrow commented on #52
Just added the new screenshots to 'Easy Updates Manager New Screenshots' folder in Dropbox. Have a look and tell me what you think.

[2015-08-23 20:56] mpsparrow commented on #50
Ok, it has been just over a week since 5.1.0 was released. 5000+ downloads and no real support issues. The only thing is what is up with this https://wordpress.org/support/topic/plugin-not-updating-5?replies=7 ?

[2015-08-23 20:56] #50 closed

[2015-08-24 12:53] mpsparrow commented on #51
Ok, merged https://github.com/easy-updates-manager/easy-updates-manager/pull/56 so now the plugin description is translated. So now it is just the dropdown not translating properly.

[2015-08-24 13:07] mpsparrow commented on #52
Ok, https://github.com/easy-updates-manager/easy-updates-manager/commit/9d0ec1cae27f8dcd905f23cb40d843f6636befcf includes the updated screenshot description. So screenshots and information are done.

[2015-08-24 13:07] #52 closed

[2015-08-24 14:26] pixolin commented on #51
Ups … What did I miss?

[2015-08-24 14:39] ronalfy commented on #51
@pixolin I don't think you missed anything.

@mpsparrow: I forgot to update the text domain strings here: https://github.com/easy-updates-manager/easy-updates-manager/blob/trunk/includes/MPSUM_Plugins_List_Table.php#L248

[2015-08-24 14:41] ronalfy commented on #51
I won't have time during the work day, but I can do this after 1800 CST.

@mpsparrow if you want to change those to the right slug, go for it and I'll push out an update later.

[2015-08-24 14:42] pixolin commented on #51
I was about to mention that. :)

You either missed the text domain or used a wrong name for the text domain in /includes/MPSUM_Plugins_List_Table.php and /includes/MPSUM_Themes_List_Table.php, too.

I need to bring my kid to her sports now, but can fix that later and update the language files, of you want?
It's nothing big anyway, as it seems.

[2015-08-24 14:42] ronalfy commented on #55
Let's get this out for 5.1.1.

[2015-08-24 14:43] ronalfy commented on #51
Let's go ahead and close this and I'll include a new issue. Thanks for the help @pixolin

[2015-08-24 14:43] ronalfy opened #57 "Update text domains in plugin and theme list table"
Example: https://github.com/easy-updates-manager/easy-updates-manager/blob/trunk/includes/MPSUM_Plugins_List_Table.php#L248

[2015-08-24 14:44] pixolin commented on #51
Uhm … OK … but do you want me to patch this? I'm about to finish a pull request for at least /includes/MPSUM_Plugins_List_Table.php :)

(After all it's my fault because I started with that translation mess.) ;)

[2015-08-24 14:45] ronalfy commented on #51
@pixolin Sure, if you like. It's both the plugins and themes list table. I'll update it when I get home if I don't hear back.

[2015-08-24 14:47] ronalfy commented on #52
Looks good. Thanks for handling this.

[2015-08-24 14:48] ronalfy opened #58 "Force Cron in Advanced Settings"
I think it would be nice to have a force cron setting in the Advanced section so we can do our own testing without the Sucuri plugin.

[2015-08-24 14:53] ronalfy opened #59 "Release 5.1.1"
Let's push this out today or tomorrow.

- [x] Update readme with screenshot information
- [x] Commit new screenshots into SVN assets folder
- [x] Ensure new screenshots are mime-type image/png or image/jpg
- [x] Add translator props to readme

Anything I missed?

[2015-08-24 15:34] ronalfy commented on #51
@mpsparrow I had to revert the pull request as it caused some PHP errors.

Can you check that the dropdowns are working now?

[2015-08-24 17:25] #57 closed

[2015-08-24 17:28] ronalfy commented on #51
Closing this, all seems to be well. Re-open if there are any more issues.

[2015-08-24 17:28] #51 closed

[2015-08-24 18:09] ronalfy commented on #55
Resolved: https://github.com/easy-updates-manager/easy-updates-manager/commit/58af844873d7419b716a56cdfcc919b6b939ad25

[2015-08-24 18:09] #55 closed

[2015-08-24 18:13] ronalfy opened #61 "Update German Translation Files"
I added 5 more strings to fix https://github.com/easy-updates-manager/easy-updates-manager/issues/55

Can you please update the German files if you have time?

[2015-08-24 18:14] ronalfy commented on #61
@pixolin

If you have time, can you take a look?

[2015-08-24 18:43] mpsparrow commented on #58
agreed

[2015-08-24 18:43] mpsparrow commented on #59
No, I think that is all.

[2015-08-24 18:44] mpsparrow commented on #61
I am busy today with a relatives birthday so I can't do it until tomorrow or the day after.

[2015-08-24 18:45] mpsparrow commented on #52
No problem.

[2015-08-24 18:45] mpsparrow commented on #55
Thanks!

[2015-08-24 18:46] mpsparrow commented on #57
Awesome! Thank for doing this.

[2015-08-24 18:54] mpsparrow commented on #59
Ok, everything appears to be working except for the plugin description is not translating and the new notice in https://github.com/easy-updates-manager/easy-updates-manager/issues/55 in not translated into German either.

Besides that the screenshots are completely done and in the assets folder. Also https://github.com/easy-updates-manager/easy-updates-manager/issues/55 notice changes are working.

[2015-08-24 23:24] ronalfy commented on #59
I left my laptop at work, so I'll do the deploy tomorrow.

[2015-08-25 01:04] mpsparrow commented on #59
Ok, sounds great!

[2015-08-25 15:24] #61 closed

[2015-08-25 15:24] ronalfy commented on #59
It is released.

[2015-08-25 15:24] #59 closed

[2015-08-25 15:25] mpsparrow commented on #59
Awesome!

[2015-08-25 21:05] mpsparrow commented on #59
and a new download record!!! 2,174 and counting

[2015-08-25 21:36] ronalfy commented on #59
Geez
On Tue, Aug 25, 2015 at 16:05 Matthew notifications@github.com wrote:

[2015-08-27 22:57] mpsparrow opened #63 "Add Contributor Documentation"
Add contributor documentation as to point contributors in the right direction.

- [x] Create contributor.md
(added https://github.com/easy-updates-manager/easy-updates-manager/commit/2e7679cbf9c4b138311fb975333a7a1e429dd272)
- [x] Add contributor section to wiki

I am working on this now and will have it up today or tomorrow.

[2015-08-28 01:10] mpsparrow commented on #63
Done!

[2015-08-28 01:10] #63 closed

[2015-09-01 23:27] mpsparrow opened #64 "Translation Update"
Just so that you know. https://make.wordpress.org/plugins/2015/09/01/plugin-translations-on-wordpress-org/

[2015-09-01 23:27] #64 closed

[2015-09-01 23:40] ronalfy commented on #64
Thanks! We're good here. Just need to wait for the magic email and we can remove our translations.

Very excited about this.

[2015-09-02 00:45] mpsparrow opened #65 "remove translation files"
Need to wait: https://github.com/easy-updates-manager/easy-updates-manager/issues/64

I am adding this to the 5.2 milestone in hopes that we will be able to remove them by then.

[2015-09-02 00:50] mpsparrow commented on #64
Yes. I would assume both of us will receive the email. Although it may take a while considering that they are going by most active installs (which we only have 30,000+).

I added a separate issue for removing the translation files. https://github.com/easy-updates-manager/easy-updates-manager/issues/65

[2015-09-02 00:57] ronalfy commented on #64
Only! Ha.

[2015-09-02 01:00] mpsparrow commented on #64
Haha ya. Should say, "it shouldn't take that long because we have 30,000 activate installs".

[2015-09-02 01:02] ronalfy commented on #64
Soon to show 40,000+. I'm personally thrilled/happy you allowed me to contribute to this plugin. It's hard now to find a remotely comparable plugin.

[2015-09-02 01:11] mpsparrow commented on #64
Well without you this plugin would be nowhere close to what it is today. Before you came along I was having trouble keeping up with all the support and coding to maintain Easy Updates Manager. You have brought an extra level of expertise which has helped push Easy Updates Manager into one of the best, if the best updates manager available for WordPress.

[2015-09-04 23:23] ronalfy opened #66 "Attempt to figure out third-party plugin/theme automatic updates"
Attempt to figure out premium plugin/themes updates.

Ideal situation is our plugin handles everything without third-party script having to modify to work with our plugin.

Plugins such as Gravity Forms include their own automatic update feature, for example.

Assuming a solution is found, I'll adjust the milestones as appropriate.

[2015-09-05 13:54] mpsparrow commented on #66
Sounds good.

[2015-09-06 23:54] ronalfy opened #67 "Change menu title to "Updates Options""
Just a suggestion, but should we change our menu option from "Update Options" to "Updates Options" ?

Not a huge deal and nobody has complained about this if not implemented.

Rationale would be:

1. Update Options like someone is updating options, like WordPress options in the options database to a dev.
2. Updates (plural version) conforms more to how WordPress names its menus in this section.
3.

[2015-09-06 23:55] ronalfy commented on #67
If we agree to this, would be nice to get some feedback from nonnative English speakers. I can ping a few people as I have a lot of European/Asian colleagues.

[2015-09-07 00:26] mpsparrow commented on #67
Agreed! Updates Options is good.

That would be great if you could.

[2015-09-08 01:23] ronalfy commented on #67
Awesome. I'm going to be fairly busy this week (internal work deadline) and I'm going to WordCamp DFW next weekend, so the soonest I can dive into the 5.2 milestone is in about two weeks.

[2015-09-08 01:45] mpsparrow commented on #67
Your speaking at a WordCamp? Awesome!

I don't think we need to rush to release 5.2 seeing as 5.1.1 was just released and has no bugs that we know of. So catch up on that work, and then we can attack 5.2.

[2015-09-08 01:47] mpsparrow commented on #65
Doesn't look like this is going to happen for quite a while (I would guess a few months) so moving to future release.

[2015-09-15 22:07] mpsparrow opened #68 "Delay/Schedule Automatic Updates"
I though this may be a ok feature for a future release. I thought of it after seeing this. https://wordpress.org/support/topic/delay-to-auto-update?replies=1

We could add a like stager automatic updates across websites feature of something.

Let me know what you think.

[2015-09-15 22:26] ronalfy commented on #68
I responded to the thread. Thanks for being proactive.

[2015-09-15 22:27] mpsparrow commented on #68
I should have specified that that thread was not on Easy Updates Manager. It was just a thread on the general support forum.

[2015-09-18 22:31] ronalfy commented on #67
Solved: https://github.com/easy-updates-manager/easy-updates-manager/commit/6d2aa9ce0ac26bc521f9a9c23fd2da44452c1368

[2015-09-18 22:31] #67 closed

[2015-09-18 22:58] ronalfy commented on #58
Fixed with trunk.

[2015-09-18 22:58] #58 closed

[2015-09-18 22:59] ronalfy commented on #53
I have a designer friend who may be willing to help with this. Punting to 5.3. Goal is the new Jetpack screen.

[2015-09-18 23:00] ronalfy commented on #26
I'm going to push this to a later release. Not important for the time-being.

[2015-09-18 23:03] mpsparrow commented on #53
Sounds great! What is his name? I would be more then willing to add him to the Easy Updates Manager GitHub admin.

[2015-09-18 23:13] mpsparrow opened #69 "Add/Update New Translations"
Add/update new translations for the following

- [ ] https://github.com/easy-updates-manager/easy-updates-manager/issues/67
- [ ] https://github.com/easy-updates-manager/easy-updates-manager/issues/58
- [ ] https://github.com/easy-updates-manager/easy-updates-manager/issues/70

We will need to add them for both the German and Formal German.

[2015-09-18 23:26] ronalfy commented on #68
Yeah, think this is for a server admin to modify crontab. Not a job for a plugin. Just my 2 cents.

[2015-09-18 23:27] mpsparrow commented on #68
Ok

[2015-09-18 23:27] #68 closed

[2015-09-18 23:27] ronalfy commented on #66
@mpsparrow I got the Advanced tab to work with a forced cron. Takes about a minute or so depending on the server.

It _did update Gravity Forms_, but that is the only premium item I can get my hands on.

I also updated the filters.

Want to just push out 5.2 with those two changes and punt the rest to a later milestone?

[2015-09-18 23:30] ronalfy commented on #69
Updated POT file with this https://github.com/easy-updates-manager/easy-updates-manager/commit/54ee0a1564493e5caad1d7d82d8e175a42c77a07

[2015-09-18 23:31] ronalfy commented on #69
No need for #66, but #58 and #67 need translating.

[2015-09-18 23:31] mpsparrow commented on #69
What about the German translation?

[2015-09-18 23:32] mpsparrow commented on #66
Sure, we can do a 5.2.1 release some time or even just bump the rest of the stuff into a bigger 5.3 release.

[2015-09-18 23:32] ronalfy commented on #53
He wants a tour first, but he's a very talented guy. I work with him on the daily. We'd almost have to have a separate milestone for that. Maybe just a different branch. I'll create one based on master if he shows more interest.

[2015-09-18 23:36] ronalfy commented on #69
@pixolin are you interested in translating a few strings for us again? @mpsparrow can make you a contrib if you don't want to deal with the pull requests.

[2015-09-18 23:36] mpsparrow commented on #53
Sound awesome! We could either make the Dashboard tab the only thing in 5.3 or just make a 5.4 that only includes it. Either way I think we should make a 5.2.1 milestone that includes https://github.com/easy-updates-manager/easy-updates-manager/issues/69#issuecomment-141593519 and whatever else comes up before then.

[2015-09-18 23:37] mpsparrow commented on #69
I will gladly add you as a contributor if you want to continue to help.

[2015-09-18 23:38] ronalfy commented on #53
Let's see if we can get some .org testers and launch Sunday. Hopefully translations up-to-date by then.

[2015-09-18 23:38] mpsparrow commented on #53
Sounds good. You want to notify them or would you like me to?

[2015-09-18 23:43] ronalfy commented on #53
I got it :D Thanks though.

[2015-09-18 23:44] mpsparrow opened #70 "add more personalized admin notice"
When you click the Force Updates setting the notice should same more then just Options Saved. Maybe something like "updates forced -  wait about 60 seconds, and refresh to test the automatic updates".

[2015-09-18 23:45] mpsparrow commented on #53
awesome, thanks

[2015-09-18 23:45] ronalfy commented on #53
We put a lot of work into this plugin, so I don't have any ethical boundaries having a major version bump for a few features.

[2015-09-18 23:48] mpsparrow commented on #53
Ok, for now I am moving the dashboard tab to 5.3 and the skip feature to 5.4.

[2015-09-19 00:16] ronalfy commented on #70
k, I'll see what I can do.

[2015-09-19 15:30] pixolin commented on #69
I currently attend WordCamp Switzerland and will be back to my desk on Monday. Is it OK, when I get back to you with the translation then? However, it is a great pleasure for me to assist you with a German translation!

[2015-09-19 16:06] ronalfy opened #71 "Update Assets"
Update screenshots et al.

Let's wait for the 5.3 dashboard milestone.

[2015-09-19 16:12] mpsparrow commented on #71
Awesome! Will do come 5.3

[2015-09-19 16:15] mpsparrow commented on #69
Sound great! Whenever you can get it done is great!

I am adding you as a contributor with admin rights so that you can commit it instead of just creating pull requests.

[2015-09-19 16:22] mpsparrow commented on #34
I am bumping this to a future release for now as the 5.3 milestone is full with the Dashboard tab.

[2015-09-19 16:23] mpsparrow commented on #70
Since https://github.com/easy-updates-manager/easy-updates-manager/issues/69 is not getting done until Monday or Tuesday do you think we can fit this in 5.2?

[2015-09-19 16:23] ronalfy commented on #70
https://github.com/easy-updates-manager/easy-updates-manager/commit/5c891a7c5a28956cc79d7e61791d98b9e15c99e0

[2015-09-19 16:23] #70 closed

[2015-09-19 16:23] mpsparrow commented on #70
Awesome!

[2015-09-19 16:28] ronalfy commented on #66
I created a 5.2.1 milestone in case we need it.

[2015-09-19 16:28] #66 closed

[2015-09-19 16:28] mpsparrow opened #72 "German and Formal German Update for 5.3"
German and Formal German translations for the Dashboard tab.

[2015-09-19 16:28] ronalfy opened #73 "Release 5.2.0"
Need some sanity testing.

I've done my part. If you have time, just do a quick run-through and we can get this out today.

[2015-09-19 16:29] mpsparrow commented on #66
Awesome! Should be just bump https://github.com/easy-updates-manager/easy-updates-manager/issues/69 to 5.2.1 and release 5.2 now?

[2015-09-19 16:29] ronalfy commented on #73
@mpsparrow if you can help out would be much appreciated.

[2015-09-19 16:29] ronalfy commented on #66
Already done sir.

[2015-09-19 16:30] mpsparrow commented on #73
Sure, I have a few minutes now and then I need to run out. But I will be back in an hour or two and can do some more.

[2015-09-19 16:30] ronalfy commented on #72
Agreed.

[2015-09-19 16:30] mpsparrow commented on #66
great

[2015-09-19 16:31] mpsparrow commented on #69
@pixolin: We are bumping this to the 5.2.1 release that will happen this week sometime.

[2015-09-19 16:31] ronalfy commented on #73
No worries. If you're comfortable with a quick breeze through, I'll go ahead and deploy it.

[2015-09-19 16:33] mpsparrow commented on #73
Sure. I will run through the checklist when I get back. Hopefully I will only be gone an hour or two so we can release this evening.

[2015-09-19 16:34] ronalfy commented on #73
Roger that. I'll be around then. Thanks for the help!

[2015-09-19 16:36] mpsparrow commented on #73
Thanks for your help.

Just so that you know I added @pixolin to have committing rights. That way he doesn't have to do pull request.

Have to run out the door now.

[2015-09-19 17:00] ronalfy commented on #69
Fixed with https://github.com/easy-updates-manager/easy-updates-manager/pull/74 and https://github.com/easy-updates-manager/easy-updates-manager/commit/5d4a2e2d13adfda7bce157fd3a672f76ed173ab4

[2015-09-19 17:01] #69 closed

[2015-09-19 17:01] ronalfy commented on #73
Thanks @pixolin! Now try not to break anything. No pressure!

[2015-09-19 19:03] mpsparrow commented on #73
Ok, I am back. Time for testing.

[2015-09-19 19:07] mpsparrow commented on #72
@pixolin: Will you be able to do this when the time comes?

[2015-09-19 19:25] ronalfy commented on #73
Great. Just let me know when to pull the trigger.

[2015-09-19 19:26] mpsparrow commented on #73
will do

[2015-09-19 19:34] ronalfy commented on #72
I'm going to add a bunch of tasks for the dashboard view. Just ignore me.

[2015-09-19 19:36] ronalfy opened #75 "Update Docs/Readme/Wiki"

[2015-09-19 19:37] ronalfy opened #76 "Dashboard WireFrame"
Let's aim for Jetpack's new Dashboard as far as looks go.

![dashboard](https://cloud.githubusercontent.com/assets/636521/9977860/ee151246-5edb-11e5-9da2-bf29633df5f8.jpg)

[2015-09-19 19:38] ronalfy opened #77 "Dashboard Coding (HTML)"

[2015-09-19 19:39] ronalfy opened #78 "Dashboard Styling"
Create a CSS file someone can style.

[2015-09-19 19:42] ronalfy opened #79 "Release 5.3"
## To Do's

#### Enhancements
- [x] Dashboard Wireframe #76
- [x] Dashboard Styling #78
- [x] Dashboard Coding #77
- [x] Dashboard Tab View (General) #53

#### Documentation
- [x] Update Assets (screenshots mostly) #71
- [x] Redo parts in the GitHub Wiki #75
- [x] Update information for the readme.txt description #75
- [x] Add contributor props where appropriate (plugin page, description, and/or i

[2015-09-19 19:45] mpsparrow commented on #79
So when should we plan to release 5.3?

[2015-09-19 19:51] mpsparrow commented on #79
or rather what should the roadmap be for 5.3 since it is a bigger version?

[2015-09-19 19:56] mpsparrow commented on #73
All appears to be well with 5.2.0. All that needs to be done is the readme.txt changelog for 5.2.0 needs to be added and then I think you can pull the trigger.

[2015-09-19 19:56] ronalfy commented on #79
Main first task is wireframe. Then hrml. Then CSS. Then behavior (JavaScript).

[2015-09-19 19:57] ronalfy commented on #79
Let's not set a release date until I talk to my designer friend.?

[2015-09-19 19:59] ronalfy commented on #73
Ok! Thiught I did that already. Checking.
On Sat, Sep 19, 2015 at 14:56 Matthew notifications@github.com wrote:

[2015-09-19 19:59] mpsparrow commented on #79
Sounds good! I can add your designer friend to have committing rights when we are ready.

On the other hand I will be more then happy to take on the documentation for the project (i.e. wiki updating, screenshots, readme.txt, etc.).

[2015-09-19 20:00] mpsparrow commented on #73
looks like you did

[2015-09-19 20:00] mpsparrow commented on #73
must of just missed it

[2015-09-19 20:01] ronalfy commented on #73
Cool. Pulling trigger. Thanks for the help.

[2015-09-19 20:01] #73 closed

[2015-09-19 20:02] mpsparrow commented on #75
I am more then happy to work on this when the time comes.

[2015-09-19 20:02] mpsparrow commented on #73
no problem

[2015-09-19 20:07] ronalfy commented on #73
It's alive: https://wordpress.org/plugins/stops-core-theme-and-plugin-updates/changelog/

[2015-09-19 20:08] mpsparrow commented on #73
party!

[2015-09-19 20:08] mpsparrow commented on #73
We will see if anybody has any problems but from the looks for things I don't think we will need a 5.2.1.

[2015-09-19 20:09] ronalfy commented on #73
Yeah, just a "just in case" release. Props @pixolin for getting us the translations. We know you're busy!

Thanks so much.

[2015-09-19 20:10] ronalfy commented on #79
Cool. He'd like a .org add if he contributes.

[2015-09-19 20:10] mpsparrow commented on #73
Yes thank you very much @pixolin!

[2015-09-19 20:11] ronalfy commented on #79
I imagine he'll do the wireframe and CSS.

[2015-09-19 20:11] mpsparrow commented on #79
What is his .org profile?

[2015-09-19 20:16] ronalfy commented on #79
I need to talk to him first. He seemed interested, but need to give him a tour of what we neeed. Let's check back sometime next week.

[2015-09-19 20:16] mpsparrow commented on #79
sounds good

[2015-09-19 20:28] mpsparrow commented on #76
Something like that design would look very nice. We could add our logo in the background and then have the quick settings to select.

[2015-09-19 20:34] mpsparrow commented on #75
I need to do a few things for this. I would like to redo some parts in the GitHub wiki along with redoing most all of the help tab content.

[2015-09-19 20:43] mpsparrow opened #80 "Update POT Translation for 5.3"

[2015-09-19 20:46] mpsparrow commented on #79
Just updated the To Do list above to add more information.

[2015-09-19 20:47] ronalfy commented on #79
Good work!

[2015-09-19 20:49] mpsparrow commented on #79
Thanks. Thought a clearer more details to do list was a good idea for a big release.

[2015-09-19 20:53] mpsparrow opened #81 "Add Credit Where Credit is Due"
Add props for contributors.

[2015-09-19 20:58] mpsparrow opened #82 "Testing for 5.3"
Testing for 5.3 new features on Mobile, Multisite, and Single Site.

[2015-09-19 20:59] mpsparrow commented on #79
Now a ticket is added for everything on the to do list. That way this issue doesn't get junked up with endless discussions.

[2015-09-19 21:58] ronalfy opened #83 "New Video"
I added a new video because I now have a better mic.

I've already updated on .org, but I think it's YouTube's issue that the video is not embedding properly.

I'm going to give it an hour before I panic.

https://www.youtube.com/watch?v=V8AWwBc6GrU&feature=youtu.be

[2015-09-19 22:24] mpsparrow commented on #83
I appears to be embedded right in the readme.txt so I don't know what it could be.

[2015-09-19 22:27] ronalfy commented on #83
YouTube says to wait 30!mins an hour.!
On Sat, Sep 19, 2015 at 17:24 Matthew notifications@github.com wrote:

[2015-09-19 22:34] mpsparrow commented on #83
Try [youtube https://www.youtube.com/watch?v=V8AWwBc6GrU]

[2015-09-19 23:05] ronalfy commented on #83
Thanks, that did the trick. THANKS!

[2015-09-19 23:05] #83 closed

[2015-09-19 23:36] ronalfy opened #84 "One star rating modlook"
Left a modlook tag here: https://wordpress.org/support/topic/crap-breaks-backend?replies=3

We'll see if anything happens. Using swear words in the forum is a big no-no.

[2015-09-20 00:06] mpsparrow commented on #83
Awesome!

[2015-09-20 00:08] mpsparrow commented on #84
They appeared to have removed it. I have spent time in the forums though and they don't care if they swear as long as it isn't horrible and insulting someone.

[2015-09-20 00:08] #84 closed

[2015-09-20 00:09] ronalfy commented on #84
Yah, nothing we can do about it. Eh.

[2015-09-20 00:10] mpsparrow commented on #84
sadly no

[2015-09-20 00:10] mpsparrow commented on #84
It is really annoying when people leave one star reviews like and then don't reply.

[2015-09-20 00:10] ronalfy commented on #84
Yuppers.

[2015-09-20 00:11] mpsparrow commented on #84
But forum mods don't like to remove them because they are still legit reviews.

[2015-09-20 00:13] ronalfy commented on #53
Related https://github.com/easy-updates-manager/easy-updates-manager/issues/76

need wireframes first.

[2015-09-20 02:35] mpsparrow commented on #73
Downloads are skyrocketing! 8.3% (about 2,500 people) are on 5.2.0 at the moment. And 700 downloads in the last two and a half hours.

[2015-09-20 03:32] ronalfy commented on #73
Epic!

I just realized we are in the Resources section on this page. Something you added? https://codex.wordpress.org/Configuring_Automatic_Background_Updates

[2015-09-20 03:36] mpsparrow commented on #73
Yes actually. I added that in because it was appropriate.

[2015-09-20 03:38] ronalfy commented on #73
Ha, awesome.

[2015-09-20 03:41] ronalfy opened #85 "Separate Notification Emails from WordPress Core and Plugins"
Just adding this here (and closing it) so we have a record of it.

User requests keeping core emails, but turning plugins/themes off.

There is currently not a way in WordPress core to disable this.

Ref: https://wordpress.org/support/topic/for-on-the-wishlist?replies=7

[2015-09-20 03:41] #85 closed

[2015-09-20 03:49] mpsparrow commented on #85
cool

[2015-09-20 04:07] mpsparrow commented on #79
Should we update the video tutorials for 5.3?

[2015-09-20 04:21] ronalfy commented on #79
Yes, but right now it's a nice to have. They take quite a while to do.
On Sat, Sep 19, 2015 at 23:07 Matthew notifications@github.com wrote:

[2015-09-20 04:22] mpsparrow commented on #79
Ok, then I won't bother. As long as we update the screenshots and documentation it should be good.

[2015-09-20 04:37] ronalfy commented on #79
I'll do do it. Let's not place on critical path like we did for 5.0.
On Sat, Sep 19, 2015 at 23:22 Matthew notifications@github.com wrote:

[2015-09-20 08:21] pixolin commented on #72
@mpsparrow Sure! Just hope I don't miss any related message. :)

[2015-09-20 13:19] mpsparrow commented on #72
Awesome! We haven't yet started coding 5.3 so it could be a week or more before this needs to be done.

[2015-09-20 13:29] ronalfy commented on #72
Yeppers. I foresee lots of string additions. We'll bug you when that comes!!
On Sun, Sep 20, 2015 at 08:19 Matthew notifications@github.com wrote:

[2015-09-20 13:32] ronalfy commented on #72
Btw, I got someone to change their review from 4 to 5 stars. We officially
have 50(!) 5-star ratings.
On Sun, Sep 20, 2015 at 08:29 Ronald Huereca ronalfy@gmail.com wrote:

[2015-09-20 18:23] mpsparrow commented on #72
Awesome! How did you get them to do that?

[2015-09-20 18:45] ronalfy commented on #72
I just asked :D https://wordpress.org/support/topic/pretty-cool-but?replies=6

I have no shame.

[2015-09-20 18:46] mpsparrow commented on #72
I should do that myself.

[2015-09-20 18:48] mpsparrow commented on #73
Still waiting for the active downloads to bump up to 40,000+

[2015-09-20 18:49] ronalfy commented on #73
Yeah, it's super crazy how popular this plugin is. As far as I know, we're
the only plugin that provides granular control to just about anything
update-related.

On Sun, Sep 20, 2015 at 1:48 PM Matthew notifications@github.com wrote:

[2015-09-21 07:37] pixolin commented on #80
Hm, there seems to be some issue in the process of creating the translation template (.pot-file), as you again missed out the plugin description.

To add that text string to the translation template, I usually help myself by creating a nonsense-function:

[code]

Once the .pot-file has been created, I delete that little helper.

Of course, this is just a workaround. I've asked Dominik Schilling (@

[2015-09-21 14:49] ronalfy commented on #80
If it's okay, I'll leave POT generation to you. Once kanguage lacks come, these will no longer be issies.

[2015-09-21 16:06] pixolin commented on #80
Well, they don't come, they are here already. :)

(In fact I talked to Petya Raykovska, head of the polyglots group, during WordCamp Zurich and she told me, we are actually doing it wrong and should use translate.wordpress.org instead.)

[2015-09-21 16:22] mpsparrow commented on #80
It will be nice once Easy Updates Manager gets on translate.wordpress.org.

[2015-09-21 17:02] pixolin commented on #80
Well, I believe I have good news for you!

Just contacted the polyglots and immediately received some reply by Sam Siedler. Let me just paste what he said:

---

sam [18:55]
Perfect! We’re importing plugins in batches, based on active users.
The next batch will be imported this week and covers through ~70k active installs.
I ​_believe_​ your plugin will be in the batch after that.

pixolin [18:56]

[2015-09-21 17:30] mpsparrow commented on #80
Sounds awesome! So me and @ronalfy will be notified when it happens. I believe I made a issue a while back to remove the translation files #65.

[2015-09-25 00:09] ronalfy commented on #72
Just received this. If there are no changes to the code base, I'll just update the tag myself.

[code]

[2015-09-25 02:46] mpsparrow commented on #72
Party! The time has come.

[2015-09-25 02:47] mpsparrow commented on #72
Just received the email myself.

[2015-09-25 17:10] ronalfy commented on #76
Box One - Global update options (whether updates are on or off). Includes plugins.
Box Two - Tab/View of Plugin/Theme Updates Disabled (on/off switches)
Box Three -  Tab/View of Plugin/Theme automatic Updates Enabled (on/off switches)
Box Four - Email Notifications (on/off switches)

[2015-09-25 19:12] pixolin commented on #72
Yay! Party! 🎉

[2015-09-26 20:00] ronalfy opened #86 "Add new types for email notifications so that it is ready for WordPress 4.4."

[2015-09-26 20:00] ronalfy commented on #86
Fixed. https://github.com/easy-updates-manager/easy-updates-manager/commit/64ff1984fe7411591f03a5fa1775520606e8b56d

[2015-09-26 20:00] #86 closed

[2015-09-27 15:42] #77 closed

[2015-09-27 15:42] #78 closed

[2015-09-27 15:42] #76 closed

[2015-09-27 15:50] ronalfy commented on #80
https://github.com/easy-updates-manager/easy-updates-manager/commit/df64a474bc8b00277012556e56f4ded84b8c77ba

[2015-09-27 15:50] #80 closed

[2015-09-27 15:51] #53 closed

[2015-09-27 15:51] ronalfy commented on #81
Nobody to add this time around.

[2015-09-27 15:51] #81 closed

[2015-09-27 16:00] ronalfy commented on #79
Let's get this out today if we can. Even if it isn't perfect. Can always make it better.

[2015-09-27 17:54] mpsparrow commented on #79
Ok, I will do some testing myself along with clean up some documentation. Then we can release it this evening.

[2015-09-27 19:22] mpsparrow opened #87 "Dashboard Tab and Windows Edge Browser Conflict"
The dashboard tab and the Windows 10 Edge browser don't appear to be getting along.

Edge Browser
![screenshot 2015-09-27 15 04 25](https://cloud.githubusercontent.com/assets/6476699/10124765/50127af6-652b-11e5-98c2-fd9c92331702.png)

What Firefox, Chrome, Windows Safari, and Internet Explorer show.
![screenshot 2015-09-27 15 06 46](https://cloud.githubusercontent.com/assets/6476699/10124766/57fc1

[2015-09-27 19:27] mpsparrow opened #88 "Why is only the Plugin Updates Bold?"
When Plugin Updates is selected in the Plugin and Theme boxes.
![screenshot 2015-09-27 15 24 36](https://cloud.githubusercontent.com/assets/6476699/10124797/61cabfb4-652c-11e5-8e7d-f2b5f54c6209.png)

When Theme Updates is selected in the Plugin and Theme boxes.
![screenshot 2015-09-27 15 24 51](https://cloud.githubusercontent.com/assets/6476699/10124799/67e818e2-652c-11e5-998d-9ec2f3c35904.png)

S

[2015-09-27 19:35] mpsparrow opened #89 "Translation Update Setting Doesn't Work in Dashboard"
The Translation Updates setting doesn't want to change in the Dashboard tab no matter what I try.

[2015-09-27 22:23] ronalfy commented on #89
Fixed: https://github.com/easy-updates-manager/easy-updates-manager/commit/3d069480d05205cdb1a3c0ef35468f5d6fef682e

[2015-09-27 22:23] #89 closed

[2015-09-27 22:57] #88 closed

[2015-09-27 22:57] ronalfy commented on #87
Just tried it on edge. Worked perfectly.

[2015-09-27 22:57] #87 closed

[2015-09-27 23:26] #82 closed

[2015-09-27 23:27] pixolin commented on #82
While working on the translation, I saw a _Notice:_ Undefined index: automatic_plugin_updates in /srv/www/easy/htdocs/wp-content/plugins/easy-updates-manager/includes/MPSUM_Admin_Dashboard.php on line 386

[2015-09-27 23:49] pixolin commented on #72
Just added German translation for the new feature "Dashboard" to branch 'dev'.
(Sorry for being late, I attended WordCamp Netherlands this weekend and just returned home.)

[2015-09-27 23:50] #75 closed

[2015-09-27 23:51] ronalfy commented on #65
Moving to future release since we can't do this for 5.3.0.

[2015-09-27 23:52] ronalfy commented on #72
Can you do it off master? I haven't synced Dev in forever.

[2015-09-27 23:55] ronalfy commented on #72
Nevermind, I'll copy files over.

[2015-09-27 23:58] #72 closed

[2015-09-27 23:59] pixolin commented on #72
Uhm, sorry … I tried to follow your ready.md ("Developers, please use the dev branch for any pull requests."). but if you just merge the languages folder, it should be fine?

[2015-09-28 00:14] ronalfy opened #90 "German is One String Behind"
Something you can do quickly @pixolin ?

[2015-09-28 00:15] ronalfy opened #91 "Roary Sassifies our CSS and Makes Dashboard Better"

[2015-09-28 00:26] mpsparrow commented on #71
done

[2015-09-28 00:26] #71 closed

[2015-09-28 00:37] #79 closed

[2015-09-28 00:42] ronalfy opened #92 "Bug in Automatic Updates Dashboard View"
Plugins should be assumed off.

[2015-09-28 00:43] ronalfy commented on #92
Same with theme automatic updates.

[2015-09-28 13:21] mpsparrow commented on #92
Did you fix this in 5.3.1?

[2015-09-28 13:29] ronalfy commented on #92
Yes

[2015-09-28 13:29] #92 closed

[2015-10-02 03:45] mpsparrow commented on #65
Easy Updates Manager is up! https://translate.wordpress.org/projects/wp-plugins/stops-core-theme-and-plugin-updates

[2015-10-02 04:07] ronalfy commented on #65
@pixolin translations now occur here: https://translate.wordpress.org/projects/wp-plugins/stops-core-theme-and-plugin-updates/

[2015-10-02 04:07] #65 closed

[2015-10-02 04:07] ronalfy commented on #90
Translations now here. https://translate.wordpress.org/projects/wp-plugins/stops-core-theme-and-plugin-updates/

[2015-10-02 04:07] #90 closed

[2015-10-08 21:48] mpsparrow opened #94 "Translate the Plugin in Glotpress"
I am trying to get us contributor rights so that we can translate the plugin. @ronalfy and @pixolin
Hopefully they will process this soon so that we can translate the plugin completely in German and English (Canada).

https://make.wordpress.org/polyglots/2015/10/08/howdy-polyglots-i-am-the-plugin-author-for-5/

[2015-10-09 05:15] pixolin commented on #94
Your request has immediately been taken care of and I already could add translation strings _and_ approve them. Yay. (German translation 100% up to date btw. and a bunch of other translations already being worked on as it seems.)

[2015-10-09 05:30] ronalfy commented on #94
Nice! I just got one of my installs to auto-install the German language pack. Kudos.

[2015-10-09 13:04] mpsparrow commented on #94
Awesome! Thanks @pixolin. We should probably translate the Development Readme and Stable Readme too.

I am working on translating to English (Canada).

[2015-10-09 14:03] ronalfy commented on #94
I'm still not sure: trunk should always be stable; but for a lot of plugin
we provide the stable tag.
On Fri, Oct 9, 2015 at 08:04 Matthew notifications@github.com wrote:

[2015-10-09 14:36] pixolin commented on #94
@mpsparrow Oh, absolutely! When i said, German translation is 100%, I was actually talking about the strings used in the php-files, not the readme-file, which certainly needs some more love in the German translation. Work in progress :smile:

[2015-10-09 14:49] mpsparrow commented on #94
Awesome! Thanks for all your help.

[2015-10-09 14:52] mpsparrow opened #95 "Fix Hebrew Banner"
The Hebrew (and other right to left languages) need to have a mirrored banner so that you can see the cloud image. https://make.wordpress.org/polyglots/2015/10/08/howdy-polyglots-i-am-the-plugin-author-for-5/#comment-270092

[2015-10-09 15:01] mpsparrow commented on #95
Also there is a meta ticket for this. https://meta.trac.wordpress.org/ticket/757

[2015-10-09 20:13] mpsparrow commented on #94
Almost done the English (Canada) translation!

[2015-10-09 21:50] mpsparrow opened #96 "Add Advanced Setting to Remove Dashboard Tab"
Although lots of people are sure to like the new Dashboard tab I am sure that there are some people out there that don't like it. For this reason I think a setting should be added in the Advanced tab allowing you to remove the Dashboard tab. Do you think this is worth it @ronalfy?

[2015-10-09 22:47] ronalfy commented on #96
Decisions, not options :)

Have you heard anybody nay say it yet?
On Fri, Oct 9, 2015 at 16:50 Matthew notifications@github.com wrote:

[2015-10-09 22:49] mpsparrow commented on #96
I have gotten a mixed reaction in a random email.

[2015-10-09 22:56] ronalfy commented on #96
Oh ok. I'd lean filter here than option, since it'll likely be an advanced
user who hates it. I've gotten several reviews of positive feedback
personally. I try to avoid the "lets do an option cause we can motto".
On Fri, Oct 9, 2015 at 17:49 Matthew notifications@github.com wrote:

[2015-10-09 22:57] mpsparrow commented on #96
Ok, agreed.

[2015-10-09 22:57] #96 closed

[2015-10-12 02:38] mpsparrow commented on #94
English (Canada) translation done. I am now also a editor for English (Canada) so I can push any changes without it being reviewed.

[2015-10-13 13:07] mpsparrow commented on #94
English (Canada) is live as of yesterday. Now all that needs to be done is the German development and stable readme translations.

[2015-10-13 14:04] pixolin opened #97 "Typo in readme.txt?"
While working on German translation of the readme.txt, I stumbled upon one phrase which doesn't seem to make sense. Can someone please confirm, whether [line 27 of readme.txt](https://github.com/easy-updates-manager/easy-updates-manager/blob/trunk/readme.txt#L27) is correct? Shouldn't it instead be

*Translation Updates - This setting can unable automatic updating* **of** *translation updates.*

[2015-10-13 14:40] mpsparrow commented on #97
I think it should be

I will change it right now.

[2015-10-13 15:16] pixolin commented on #97
OK, then my translation of that string is correct.
Guess it will pop up with the next version anyway if the string gets altered.

[2015-10-13 17:53] mpsparrow commented on #97
Yep. Thanks for noticing that.

[2015-10-13 17:53] #97 closed

[2015-10-13 18:21] pixolin commented on #94
Oh well, always those lazy Germans… ;)
Added the translation for the readme file today.

[2015-10-13 18:24] mpsparrow commented on #94
Awesome! Thanks for all your help.

[2015-10-13 18:48] #94 closed

[2015-10-22 08:48] ronalfy commented on #41
There are absolutely no hooks in update-core.php. So sad. Closing as it isn't currently possible unless we do it using our interface, which I don't think would be a good UX.

Regretfully closing this issue, as I like the idea.

[2015-10-22 08:48] #41 closed

[2015-10-23 03:22] mpsparrow opened #98 "Test with WordPress 4.4 beta 1"
WordPress 4.4 beta 1 is out as of today. https://wordpress.org/news/2015/10/wordpress-4-4-beta-1/ More betas are sure to follow. So @easy-updates-manager/committers test it with Easy Updates Manager.

[2015-10-24 03:15] mpsparrow commented on #95
Trying to fix this right now.

[2015-10-24 03:26] mpsparrow commented on #95
I am putting this on hold as there is currently no support for this. In less we create a plugin banner that works with both right and lift aligned text, the only thing me can do is wait until they add support for it.

For now I added a rtl banner. This way when they add the support for it it will already be there.

[2015-10-24 07:15] ronalfy commented on #95
I'll get my designer co-worker to look at this on Wednesday to see if there
is a good solution.

On Fri, Oct 23, 2015 at 10:26 PM Matthew notifications@github.com wrote:

[2015-10-24 20:58] ronalfy opened #99 "Plugin/theme/translation update emails being sent"
Pushing code shortly to resolve this.

[2015-10-24 20:59] ronalfy commented on #98
I found some issues so we need to do a 5.3.3 release. Maybe push this to that milestone?

[2015-10-24 21:30] mpsparrow commented on #98
Bumped to 5.3.3.

[2015-10-24 21:32] ronalfy commented on #99
Can't pin this down. I committed some code to dev, but it didn't fix it. I need to figure out if it's a Beta bug, or our bug. It appeared very apparently it was our code, so still investigating.

[2015-10-24 21:34] mpsparrow commented on #99
Great! Let me know if I can do anything.

[2015-10-24 21:36] ronalfy commented on #99
Once I nail this down, may need help testing the translation update emails. I'll let you know.

[2015-10-24 22:09] ronalfy commented on #99
Yes, WordPress bug and EUM bug. I fixed the EUM bug with https://github.com/easy-updates-manager/easy-updates-manager/commit/5044eba204a8f1db6bbedcdc4b9fdd2073f74e1b

[2015-10-24 22:09] ronalfy commented on #99
Will have to write a new patch and get it submitted.

[2015-10-24 22:20] mpsparrow commented on #99
ok, once again let me know if I can do anything to help.

[2015-10-24 23:15] ronalfy commented on #99
No rush unless we can get this ticket approved. Then I can test against trunk and double-check on Beta 2.

Here's the ticket. https://core.trac.wordpress.org/ticket/34434

[2015-10-25 21:49] ronalfy commented on #98
This ticket must be approved before Beta 2. So if my trac ticket isn't approved, I'll raise a larger stink about it. https://core.trac.wordpress.org/ticket/34434

[2015-10-25 22:40] ronalfy commented on #95
@mpsparrow I saw your RTL assets and they look fantastic. This Wednesday when Roary and I work on the plugin, I'll see if he can create a banner that will work until core gets their act together. What say you?

We have all the original assets in Dropbox, so I'll run any fixes on this issue.

[2015-10-25 22:41] ronalfy commented on #26
I'm going to go ahead and close this. It's a nice-to-have, but noone else has brought this up as an issue.

Thanks for the original report though.

[2015-10-25 22:41] #26 closed

[2015-10-25 22:42] ronalfy commented on #34
When you have time, can you explain the importance of this issue and a use-case?

[2015-10-26 00:57] mpsparrow commented on #95
We could use a banner that works with both. For now I added the banners because hopefully they will get there act together and fix the problem (https://meta.trac.wordpress.org/ticket/757). A quick fix for now would be if a banner was redesigned to work with both.

[2015-10-26 01:00] mpsparrow commented on #34
There isn't to much importance to this. It is a nice to have feature.

The reason for adding this is if you are deleting the plugin but still want to keep all the settings for if you reinstall it. I am questioning it though seeing as no one has complained about this.

[2015-10-27 19:04] mpsparrow commented on #95
Just a quick update. It looks like the RTL banners for the WordPress.org directory will be soon. On the other hand I don't know about the RTL banners for the admin popups. So it is probably a good option to redesigned the banners to work with both left and right text. Although if you think that is a waste of time we can also just leave it.

[2015-10-27 19:27] ronalfy commented on #95
Let me get back to you tomorrow. Maybe Roary can figure it out so we can
just have one banner.
On Tue, Oct 27, 2015 at 14:04 Matthew notifications@github.com wrote:

[2015-10-28 16:57] ronalfy commented on #34
Okay, hoping there is a filter that hopes with this. I'll investigate and get back. If no filter, then there simply isn't away with WordPress unless we get a patch approved, and with something like this, I doubt it very much.

[2015-10-28 17:03] ronalfy commented on #34
in `wp-admin-includes-plugins.php` there is a function called `is_uninstallable_plugin`. This area makes the most sense for a filter, but there simply isn't one.

I can hook into get_option and remove the uninstallable plugins.

In `wp-includes/option.php`, there is a filter: `pre_option_$option`.

So to get uninstall to work, I need to hook into that filter: `get_option('uninstall_plugins')`.

I

[2015-10-28 17:04] ronalfy commented on #34
I'd place the above in the Advanced Tab. Don't want non-developers using this.

[2015-10-28 18:50] mpsparrow commented on #34
Its up to you. If you think that it will work well and securely then I say we have a go at it.

Agreed, the Advanced Tab is the place for this to go.

[2015-10-28 19:00] ronalfy commented on #34
Cool. I actually might be able to work on this today. Roary and I are about
to head to a coffee shop.
On Wed, Oct 28, 2015 at 13:50 Matthew notifications@github.com wrote:

[2015-10-28 19:02] mpsparrow commented on #34
Awesome!

[2015-10-28 19:36] ronalfy commented on #34
Sorry Matthew, the more I think about this, the less I want to do it. This would be better I think as a separate plugin. I'd like to keep the focus on managing updates, not managing plugins.

[2015-10-28 19:38] ronalfy commented on #95
Roary is making good progress on this. We'll share results when he is finished.

[2015-10-28 19:40] mpsparrow commented on #34
Ok. I understand.

[2015-10-28 19:40] #34 closed

[2015-10-28 19:41] mpsparrow commented on #95
Awesome! Looking forward to seeing them.

[2015-10-28 19:53] roarytubbs commented on #95
![easy-updates-manager-example-banner](https://cloud.githubusercontent.com/assets/1294345/10801102/a3e9493c-7d83-11e5-9398-951a9f629605.jpg)

[2015-10-28 19:53] ronalfy commented on #95
@mpsparrow what do you think of the above? I think it looks fantastic.

[2015-10-28 19:54] mpsparrow commented on #95
Hey @roarytubbs! That looks awesome. I say we add it to Dropbox and then commit it in 5.3.3.

[2015-10-28 19:57] ronalfy commented on #95
We don't need a separate update for the banners though. Can you do an SVN replacement? Roary will add the banners to dropbox shortly.

[2015-10-28 19:58] mpsparrow commented on #95
Your right. I will SVN replace them ASAP.

[2015-10-28 19:59] ronalfy commented on #95
Okay, Roary just pushed them to dropbox. Feel free to update the assets when ready sir.

[2015-10-28 20:00] ronalfy commented on #95
His .org username is roary86. I'll add him to the readme as soon as I can if you think that is appropriate.

I want to push out 5.3.3 when my ticket is committed and Beta 2 comes out.

[2015-10-28 20:01] mpsparrow commented on #95
Yes, add him to the readme.

[2015-10-28 20:02] ronalfy commented on #95
Okay, I'm going to create a separate issue for that so I don't forget.

[2015-10-28 20:05] mpsparrow commented on #95
Just uploaded the new banners. Should show in a second.

[2015-10-28 20:07] ronalfy opened #100 "Add Roary Tubbs to Readme."
roary86

[2015-10-28 20:07] mpsparrow commented on #95
It is up and displaying nicely.

[2015-10-28 20:07] #95 closed

[2015-10-28 20:16] ronalfy commented on #95
Very well done all.
On Wed, Oct 28, 2015 at 15:08 Matthew notifications@github.com wrote:

[2015-10-28 20:22] mpsparrow commented on #100
Also add to the help tab under contributors.

[2015-10-28 20:38] ronalfy commented on #91
Just a quick note @mpsparrow that Roary is making very good progress with Dashboard styles. I'll let you know when they're done and you can check out the dev branch.

[2015-10-28 20:39] mpsparrow commented on #91
Awesome! Looking forward to seeing it.

[2015-10-28 20:52] mpsparrow opened #101 "Test with WordPress 4.4 beta 2"
Test it with Easy Updates Manager.

https://wordpress.org/news/2015/10/wordpress-4-4-beta-2/

[2015-10-28 21:05] ronalfy commented on #101
Shit. I was hoping my ticket would make it in.
On Wed, Oct 28, 2015 at 15:52 Matthew notifications@github.com wrote:

[2015-10-28 21:06] mpsparrow commented on #101
Was hoping it would make it in as well. Guess we will need to wait for beta 3 to see if they include it.

[2015-10-28 21:10] ronalfy commented on #101
Well if Beta 3 comes out without it, I'll make a stink. Either the original ticket needs to be reverted, or the new one included. This CANNOT ship broken.

[2015-10-28 21:11] mpsparrow commented on #101
Agreed. I will join you in making a stink about it if its not in beta 3.

[2015-10-28 21:21] ronalfy opened #102 "Dashboard Tabs Have Same HTML ID"
Add unique IDs.

[2015-10-28 21:50] ronalfy opened #103 "Fix JS Tabs to Use Toggles"
Use jQuery toggleClass

[2015-10-28 21:57] ronalfy opened #104 "CSS Dashboard Widgets"
Have first three dashboard widgets centered. Have theme/automatic updates on their own line.

[2015-10-28 21:59] ronalfy commented on #91
Styles are in DEV, but they are still a WIP. I have to do some re-structuring.

Let's plan on a weekend release of 5.3.3.

[2015-10-28 21:59] ronalfy commented on #91
@roarytubbs wants the main 3 tabs on line line (like in Jetpack) and the remaining two in a different row.

[2015-10-28 22:00] mpsparrow commented on #91
Ok, sounds good.

[2015-10-28 23:46] mpsparrow commented on #101
John just added it to 4.4! I guess we won't have to make a stink about it after all. https://core.trac.wordpress.org/ticket/34434#comment:7

[2015-10-28 23:47] ronalfy commented on #91
@roarytubbs I made the structural changes and fixed the JS tab errors. If you could finish up the styles, we'd like to get this updated Saturday.

We're all volunteers, so if it can't make it this weekend, let us know. There is nothing pressing, just an internal goal.

[2015-10-28 23:48] ronalfy commented on #91
@mpsparrow if you check out the dev branch you'll see where we're going with this. It looks great. Just needs one more final push.

[2015-10-28 23:49] ronalfy commented on #104
Fixed with https://github.com/easy-updates-manager/easy-updates-manager/commit/25dfec7faea6d9d1e786148de824472a4afb36a4 and https://github.com/easy-updates-manager/easy-updates-manager/commit/8a744bea18678a84f3441c14fdfe1d505393f33d

[2015-10-28 23:49] #104 closed

[2015-10-28 23:49] ronalfy commented on #102
Fixed.

[2015-10-28 23:49] #102 closed

[2015-10-28 23:50] ronalfy commented on #103
Fixed.

[2015-10-28 23:50] #103 closed

[2015-10-28 23:50] mpsparrow commented on #91
Awesome. I have already checked it out and it looks amazing.

[2015-10-28 23:52] ronalfy commented on #100
Fixed, added to readme and help. https://github.com/easy-updates-manager/easy-updates-manager/commit/92bfdc10254ec8eb0529ede42ba92a9c7e478685

[2015-10-28 23:52] #100 closed

[2015-10-29 15:02] roarytubbs opened #107 "Add active class"
I need an .active class added to .dashboard-item-header. I need to be able to know when something is active or not. I'm not sure the current JS code is working properly of efficient for what I'm needing.

[2015-10-29 15:25] ronalfy commented on #107
Thanks, I'll take a look shortly.
On Thu, Oct 29, 2015 at 10:02 Roary Tubbs notifications@github.com wrote:

[2015-10-29 17:48] roarytubbs opened #108 "Unnecessary dashboard-item class"
There is still an unnecessary dashboard-item div wrapped around another dashboard-item div. I'm looking under "Plugin and Theme Updates".

<img width="533" alt="screen shot 2015-10-29 at 12 47 07 pm" src="https://cloud.githubusercontent.com/assets/1294345/10827140/53b60262-7e3b-11e5-828a-796f84081195.png">

[2015-10-29 18:20] ronalfy commented on #108
Fixed https://github.com/easy-updates-manager/easy-updates-manager/commit/dc13a834e1f56fdd217351c5f18348596c5c8fbb

[2015-10-29 18:20] #108 closed

[2015-10-29 18:21] ronalfy commented on #107
The active/inactives should be for the main plugin/theme tabs below. Can you (@roarytubbs) please explain in more detail what this will accomplish?

[2015-10-29 21:56] ronalfy commented on #91
@mpsparrow We've made some more progress with styles. I had to strip out some JS, but I think it still works fine. I'll tackle the JS in a 5.3.4 or something.

Can you take a look? And if it looks great, let's push out 5.3.3 this weekend.

[2015-10-29 22:15] ronalfy commented on #91
@roarytubbs will take a look tomorrow as a sanity test.

[2015-10-29 22:19] ronalfy opened #109 "New Styles Affect General Tab"
New styles from @roarytubbs should only work on the Dashboard.

I'll see if I can fix this myself.

[2015-10-29 22:23] ronalfy commented on #109
Fixed: https://github.com/easy-updates-manager/easy-updates-manager/commit/7864eadedeb276c2b5a6c16a8a09c07c6399e06d

[2015-10-29 22:23] #109 closed

[2015-10-30 02:32] mpsparrow commented on #91
Awesome! I will take a look tonight or tomorrow morning.

[2015-10-30 04:17] mpsparrow commented on #91
Just took a look at it now. It looks way better.

[2015-10-30 09:34] ronalfy commented on #91
I agree. It's pretty clear a lot of work went into the updates.

I do front-end dev, I'm more of a back-end coder.

[2015-10-30 17:46] roarytubbs opened #110 "Make title clickable"
Wrap checkbox around the header for each option so you can click anywhere on the item it will enable/disable.

[2015-10-30 21:31] ronalfy commented on #110
Fixed.

[2015-10-30 21:31] #110 closed

[2015-10-30 21:31] ronalfy commented on #107
Fixed.

[2015-10-30 21:31] #107 closed

[2015-10-30 21:33] ronalfy commented on #99
This code is going into 5.4, so closing. Will create a new ticket if changes don't make it into core.

[2015-10-30 21:33] #99 closed

[2015-10-30 21:34] ronalfy commented on #91
Closing as @roarytubbs is done styling and I am done with JS.

[2015-10-30 21:34] #91 closed

[2015-10-31 15:34] ronalfy opened #111 "Style Issue in Dashboard Widgets"
Let's change the cursor to pointer since when you click on the item, the status of the dashboard item changes.

[2015-10-31 17:33] mpsparrow opened #112 "Overriding styling of all checkbox and radio button inputs"
https://wordpress.org/support/topic/latest-update-takes-over-admin-inputs?replies=5

###### Just adding this for record

[2015-10-31 17:34] #112 closed

[2015-11-07 16:03] mpsparrow opened #113 "Test with WordPress 4.4 beta 3"
Test it with Easy Updates Manager.

https://wordpress.org/news/2015/11/wordpress-4-4-beta-3/

[2015-11-12 02:04] mpsparrow opened #114 "Test with WordPress 4.4 beta 4"
Test it with Easy Updates Manager.

https://wordpress.org/news/2015/11/wordpress-4-4-beta-4/

[2015-11-12 04:45] #98 closed

[2015-11-12 04:46] #101 closed

[2015-11-12 04:46] #113 closed

[2015-11-12 04:47] mpsparrow commented on #114
I closed all the other beta testing issues. All discussion for them can be moved here.

[2015-11-12 04:53] ronalfy opened #115 "Remove Email Notifications"
Since the patch wasn't committed in 4.4, let's comment them out for a later release.

[2015-11-12 04:57] ronalfy commented on #111
Fixed with https://github.com/easy-updates-manager/easy-updates-manager/commit/3aa17367eb75bae9b25468c3ef39056556b5427f

[2015-11-12 04:57] #111 closed

[2015-11-12 05:06] ronalfy commented on #115
Changes are committed in the Dev Branch. Let's keep testing to make sure everything is good to go for a 5.4.2 release.

[2015-11-12 05:13] ronalfy commented on #114
I just successfully tested Dev against 4.4, and it auto-updated 2016 like a champ.

[2015-11-15 22:32] mpsparrow opened #116 "Lets Resolve These Support Threads"
- [x] https://wordpress.org/support/topic/plugin-not-working-for-me-at-all?replies=3#post-7664510
- [ ] https://wordpress.org/support/topic/plugin-stopped-working-for-one-of-my-sites?replies=8

They both could very well be related.

[2015-11-17 00:09] ronalfy commented on #116
I am utterly clueless why an automatic update wouldn't work. If they're not getting minor security fixes either, it means they are probably disabling updates somewhere else, via a wp-config option, or somewhere else.

[2015-11-17 02:25] mpsparrow commented on #116
I am clueless as well.

[2015-11-25 14:48] mpsparrow commented on #115
Should we aim for a 5.4.2 or 5.5 release in conjunction with WordPress 4.4? WordPress 4.4 is scheduled to be released December 8, although I wouldn't be surprised if it gets delayed a week because 4.4 RC1 hasn't even been released yet.

[2015-11-25 14:57] ronalfy commented on #115
I would say release when the first RC is dropped.

[2015-11-25 14:59] mpsparrow commented on #115
I think the first RC is being dropped today.

[2015-11-25 15:36] mpsparrow opened #117 "Wiki Redo"
Redo the Wiki and make it more organized and up to date. I am working on this at the moment.

[2015-11-25 18:00] lolux opened #118 "The `update_core` parameter for `current_user_can()` causes fail for Godaddy Managed WP"
Hello Matthew,

First off, thanks for this great plugin. I'm glad to see it gaining in popularity. Keep up the great work!

I am experiencing a fatal error (die: "User does not have sufficient permissions") after activation and then attempting to access the configuration page on my Godaddy Managed WP sites.

The cause of the issue is that the `update_core` parameter is used for a permissions check

[2015-11-25 18:09] mpsparrow commented on #118
Thanks for letting us know about this issue you are experiencing. We appreciate your support for Easy Updates Manager.

@ronalfy: Can you look into this when you have time?

[2015-11-25 18:41] ronalfy commented on #118
Yep, will do.
On Wed, Nov 25, 2015 at 12:09 Matthew notifications@github.com wrote:

[2015-11-25 22:56] ronalfy commented on #118
@lolux I'm working off of the dev branch, but we plan to merge into the trunk branch soon once WordPress 4.4 RC1 rolls out.

I got this working locally and it seemed fine: https://github.com/easy-updates-manager/easy-updates-manager/commit/ff511dee916761e27925cd5b38a2c6c4dd0b23ff

[2015-11-25 23:07] mpsparrow commented on #115
RC is out. https://wordpress.org/news/2015/11/wordpress-4-4-release-candidate/

[2015-11-25 23:09] ronalfy commented on #115
OK! Here we go.

[2015-11-25 23:50] #115 closed

[2015-11-25 23:50] #114 closed

[2015-11-25 23:52] mpsparrow commented on #118
@lolux: We rolled out this in Easy Updates Manager 5.4.2 which is available for download on WordPress.org. Hopefully it fixes your problems.

[2015-11-25 23:52] #118 closed

[2015-11-25 23:53] mpsparrow commented on #116
Seeing as we have no idea what is up with that one I am just going to close this.

[2015-11-25 23:53] #116 closed

[2015-11-26 06:09] pixolin commented on #118
German Translation 100% (updated Plugin-Readme). Just saying… :)

[2015-11-26 12:10] lolux commented on #118
@mpsparrow @ronalfy I've tested 5.4.2 on three GoDaddy Managed WP sites so far, and the plugin is functioning normally. Thanks gents!

[2015-11-26 13:30] mpsparrow commented on #118
@lolux: Awesome, glad we were able to fix the issue for you.

@pixolin: Thanks for updating those tranlsations. Many thanks.

[2015-12-09 00:09] mpsparrow opened #119 "Dashboard Layout Errors"
I don't know if it is just 4.4 or not but the Plugin and Theme Updates box in the dashboard tab of Easy Updates Manager is separated when boxes are only two wide.
![2015-12-08 19_06_24-updates options beta tester wordpress - microsoft edge](https://cloud.githubusercontent.com/assets/6476699/11672504/29fe94e8-9ddf-11e5-83bc-bf0f774ca088.png)

[2015-12-09 01:07] mpsparrow commented on #119
Also it appears to add a bigger space in the one column view.
![2015-12-08 19_16_19-updates options beta tester wordpress - microsoft edge](https://cloud.githubusercontent.com/assets/6476699/11673494/4d0dc1a4-9de7-11e5-92b5-9cc694fc2c2f.png)

[2015-12-09 15:29] mpsparrow commented on #117
Done.

[2015-12-09 15:29] #117 closed

[2015-12-17 21:17] mpsparrow opened #120 "Reviews to Convert"
- [x] https://wordpress.org/support/topic/conflicts-with-wp-engine-installation?replies=9#post- (@ronalfy, did you send him the stuff?)
- [x] https://wordpress.org/support/topic/did-not-prevent-plugin-updating?replies=2#post- (replied and waiting)

I would like to try to get both these reviews to five star reviews.

[2015-12-17 21:22] ronalfy commented on #120
Yeah, for the first one I did. Still waiting to hear back.

[2015-12-17 21:27] mpsparrow commented on #120
Ok, awesome. I guess we just need to wait for a reply then.

[2015-12-17 21:48] ronalfy opened #121 "Bulk Actions Not Working Properly"
When doing bulk actions, it looks like these aren't updating properly.

[2015-12-28 20:45] mpsparrow commented on #120
I am closing this as the one review is now a 5 star review and the other one is a four star review.

[2015-12-28 20:45] #120 closed

[2016-01-03 04:52] mpsparrow opened #122 "Update Logs"
https://wordpress.org/support/topic/is-it-possible-to-see-a-log-of-all-the-recently-updated-plugins?replies=1#post-7839013

@ronalfy: Do you think it is a good feature to add update logs for plugins and themes? Maybe we could add a fifth tab titled "Logs" that includes a list of most recent updates that have taken place.

[2016-01-05 10:05] coder66 commented on #122
I want to add my vote here, definitely needed. I manage two sites and have disabled email notifications. So having a log (with date/time and result of the update) would be very handy. Thanks for this great plugin!

[2016-01-06 19:27] mpsparrow opened #123 "Test with WordPress 4.4.1"
I am doing this right now with 4.4.1 beta. 4.4.1 is going to be released soon (i.e. today probably).

[2016-01-06 19:44] mpsparrow commented on #123
I would say that Easy Updates Manager is working great with 4.4.1. Except for the current bugs, which I still see using 4.4.1, I don't see any new problems/bugs.

[2016-01-06 19:44] #123 closed

[2016-01-06 19:44] mpsparrow commented on #123
I am closing this, although I would encourage @easy-updates-manager/admin to test it as well (just in case I missed something).

[2016-01-11 16:36] mpsparrow opened #124 "Immediate Switch Changing"
As said here https://wordpress.org/support/topic/all-updates-switch-could-be-more-elegant?replies=2

Is this worth doing, or is it more trouble then it is worth?

[2016-01-11 17:54] ronalfy commented on #124
I think it's worth doing.

[2016-01-12 18:48] ronalfy commented on #119
Should be fixed with https://github.com/easy-updates-manager/easy-updates-manager/commit/67f2752a2e19a8f8c01168052befc284ec6dc896

[2016-01-12 18:48] #119 closed

[2016-01-12 21:13] ronalfy commented on #124
Should be fixed with https://github.com/easy-updates-manager/easy-updates-manager/commit/e37928472d1bbb640a17db85c84bcdb31433403e

[2016-01-12 21:13] #124 closed

[2016-01-12 21:17] ronalfy commented on #121
I tested this out and it seems to work correctly. Marking as a wontfix.

[2016-01-12 21:17] #121 closed

[2016-01-12 21:22] ronalfy opened #125 "Test 5.4.3"
If @easy-updates-manager/admin can test this out just for sanity sakes, I'll push out an update tomorrow or whenever I hear feedback.

[2016-01-12 21:27] ronalfy commented on #122
I do like the idea of logs, just not sure when I can commit the time to do it.

Other plugins that do logs usually require a separate database table, which is fine, we can do that. But we'll also want to add a clear feature, export feature (to CSV), and an interface that is intuitive, paginates, and can be filtered.

Just throwing it out there that this will be a rather large feature, but a good i

[2016-01-12 23:55] mpsparrow commented on #125
I will test it right now...

[2016-01-13 00:09] mpsparrow commented on #125
All working for me. The layout error #119  and the new #124 fixes are both working perfectly.

Are you available to release it tomorrow? I need to rest at the moment as I am getting over a sickness.

[2016-01-13 00:41] ronalfy commented on #125
Thanks for the help.

Yeah, I can take care of it.

Hope you feel well soon!
On Tue, Jan 12, 2016 at 18:09 Matthew notifications@github.com wrote:

[2016-01-13 14:53] mpsparrow commented on #125
Thanks.

Just release it whenever you want. I am still not feeling that great so I am going to be sleeping...

[2016-01-15 16:22] mpsparrow commented on #125
I see you released 5.4.3, so I am closing this.

When you have time, If you can merge the dev and trunk branches that would be greatly appreciated.

[2016-01-15 16:22] #125 closed

[2016-01-15 17:10] mpsparrow commented on #125
Just so that you know @ronalfy, I just pushed a little typo fix.

[2016-01-15 17:28] ronalfy commented on #125
Dev branch has been merged. Thanks. I forgot about that.

[2016-02-26 02:39] mpsparrow opened #126 "WordPress 4.5 Beta 1"
It is that time again...
https://wordpress.org/news/2016/02/wordpress-4-5-beta-1/

I am testing it right now.

[2016-02-26 03:04] mpsparrow commented on #126
Works on my MAMP localhost install as far as I can tell. Going to test it on a few other installs now.

[2016-02-26 18:24] mpsparrow commented on #126
Just tested on a fresh localhost running php7. All works well.

[2016-02-26 18:24] #126 closed

[2016-03-24 13:47] mpsparrow opened #127 "WordPress 4.5 RC1"
One final test should be done to make sure that Easy Updates Manager is fully capable with WordPress 4.5.

[2016-03-24 14:10] ronalfy commented on #127
I can test this out this weekend.

[2016-04-02 12:13] ronalfy commented on #127
I tested it out on RC-1 just now. Works fine. Good to update readme?

[2016-04-03 00:33] ronalfy commented on #127
I went ahead and updated the readme. Tests worked fine.

[2016-04-03 00:33] #127 closed

[2016-04-03 00:38] mpsparrow commented on #127
I tested it as well and it works great.

[2016-04-13 20:43] mpsparrow opened #128 "What Ever Happened To Ticket #33932"
What is happening with [https://core.trac.wordpress.org/ticket/33932](https://core.trac.wordpress.org/ticket/33932)? Did we give up on it?

WordPress 4.6 preparations are starting, so now would be the time to get it in.

[2016-04-13 21:18] ronalfy commented on #128
Left a message to john on slack but haven't heard back. I think I need to find a new owner.

[2016-04-13 21:22] ronalfy commented on #128
I left a slack to adam silvsrstein. Maybe he can help. I used to work with him.

[2016-04-13 23:15] ronalfy commented on #128
Adam looked into it and said submit a patch and ping ocean90 when it's ready.

[2016-04-13 23:15] ronalfy commented on #128
May need your help testing it. It has to be perfect.

[2016-04-13 23:20] mpsparrow commented on #128
I am more then happy to test it. Is patch 5 the one to test, or are you going to submit another patch?

[2016-04-13 23:21] mpsparrow commented on #128
Ocean90 is the release lead I believe, so that makes sense.

[2016-04-14 02:06] ronalfy commented on #128
I'll submit another patch. The one I submitted it against is out of date.

[2016-04-14 02:06] ronalfy commented on #128
The code will be exactly the same though. So shouldn't take me long.

[2016-04-14 02:07] ronalfy commented on #128
I explained the use cases to Adam Silverstein and he absolutely agreed there's a need for this, so I don't think we'll get too much friction.

[2016-04-14 02:23] ronalfy commented on #128
@mpsparrow created a new branch that we can switch to easily to test out email notifications.

https://github.com/easy-updates-manager/easy-updates-manager/tree/email-notifications

[2016-04-14 02:24] mpsparrow commented on #128
sweet... I shall load that up on my localhost.

[2016-04-20 00:23] ronalfy commented on #30
Let's close this issue. The beta plugin does a good job, and looking at the support requests, I don't think this is something we should take on.

@mpsarrow, close if you agree.

[2016-04-20 00:26] ronalfy commented on #122
I'd like to reconsider this and think it'll be a good new tab. Throw it under advanced options, which will then create the new table.

Make it obvious this feature is in beta, with translation strings noop.

Add filter by date, update type. Max at 50 entries per page, with an option at the bottom to clear logs and an option under advanced to delete the table.

[2016-04-20 02:06] #30 closed

[2016-04-20 04:37] ronalfy commented on #128
For the dev meeting in case I miss it:

[2016-04-21 09:54] ronalfy commented on #128
Left a slack message for dd32 as he's component maintainer for upgrades. welcher wrote unit tests, so that's all set.

dd32 said to ping him in a week if no further activity has been done on the ticket and it appears he thinks the new filter is a good idea.

Crossing fingers now and trying to be patient.

[2016-04-21 12:28] mpsparrow commented on #128
Yes, now we wait....

[2016-04-21 13:25] ronalfy commented on #128
Yep, I've been as pro-active as I can at this point.

[2016-04-22 16:04] ronalfy commented on #128
Ticket just got updated to the 4.6 milestone.

[2016-04-22 22:25] mpsparrow commented on #128
Awesome!

[2016-04-22 22:29] mpsparrow commented on #128
In that case I am going to close this ticket and create a new one that will be for adding the new options to disable theme/plugin emails (and also testing the new options).

[2016-04-22 22:29] #128 closed

[2016-04-22 22:37] ronalfy commented on #128
👍

[2016-04-22 22:44] mpsparrow opened #129 "Add Setting to Disable Core, Plugin or Theme Emails"
When WordPress 4.6 is released, which will include [ticket 33932 ](https://core.trac.wordpress.org/ticket/33932), we can add the settings to disable core, plugin or theme emails.

We could either release a version of Easy Updates Manager on the day WordPress 4.6 is released to include the settings or we can release it early and put a notice under the settings saying that it only works if you have

[2016-04-22 22:52] ronalfy commented on #129
Yep, if it gets punted, this issue is no good.

4.6 is my last try. Too much effort has been spent and arguably wasted.

[2016-04-22 22:56] ronalfy commented on #129
Assuming ticket is committed and beta is released, we can test and make sure all is well. When the first RC is released, we can put out a new version with a new minimum to prevemt headaches.

[2016-04-22 23:07] mpsparrow commented on #129
If they punt it I am going to break something...

As for the releasing on the first RC, sure.

[2016-04-22 23:13] ronalfy commented on #129
If you feel like breaking something, just imagine what I'll do :)

[2016-04-23 04:53] mpsparrow commented on #129
![computer-smash-other-guys-mark-wahlberg-angry](https://cloud.githubusercontent.com/assets/6476699/14759337/bea97634-08ed-11e6-8c47-c13e53b16b66.gif)

[2016-04-27 18:31] ronalfy commented on #122
[code]

[2016-04-27 18:33] ronalfy commented on #122
Multiple Plugin manual updates

[code]

[2016-04-27 18:35] ronalfy commented on #122
Multiple Theme Updates

[code]

[2016-04-27 18:39] ronalfy commented on #122
Automatic Upgrades of Plugins and Themes:

[code]

[2016-04-27 18:53] ronalfy commented on #122
Core Update

[code]

[2016-04-27 19:16] ronalfy commented on #122
Automatic Update Log

[code]

[2016-04-27 20:21] ronalfy commented on #122
@mpsparrow based on all the data above, I believe a log can be achieved.

We'll show: Asset Name, Asset Type (plugin, theme, core, translation), Asset Version, Asset Date, Asset Action (manual, auto), and ideally whether the asset failed too. Anything I'm missing?

[2016-04-27 23:16] mpsparrow commented on #122
I think you got everything. I assume by Asset Date you mean Asset Date/Time?

A lot of testing is going to need to be done to make sure that it all works. Testing on MU and single site.

[2016-04-27 23:36] ronalfy opened #130 "Resolve PHP notice errors"
When I was doing my testing today, I came across a myriad of PHP errors that EUM is putting out.

I suggest our next milestone be a bug fix to fix these errors.

[2016-04-27 23:39] ronalfy commented on #129
Updated https://core.trac.wordpress.org/ticket/33932 with my new patch, which is basically Patch 6 with Ryan's unit tests.

Adam didn't like Patch 6 because of all the changes, but after testing today, they are much needed.

[2016-04-28 01:10] mpsparrow commented on #130
5.5 bug fixes, 5.6 logs?

[2016-04-28 03:17] ronalfy commented on #130
Current version on the repo. I'll paste in some notices tomorrow I'm getting and fix asap.

[2016-04-28 19:20] mpsparrow commented on #130
Could https://wordpress.org/support/topic/server-resource-usage?replies=1#post-8341960 have something to do with this?

[2016-04-28 20:19] ronalfy commented on #130
Negative. I think all their auto-updates are hitting all at once.

[2016-04-28 20:19] mpsparrow commented on #130
You want to reply to it?

[2016-04-30 00:20] ronalfy commented on #130
Matthew, this is ready to be tested. I'm comfortable pushing without your input.

Latest changes are in the trunk branch.

Main changes is better reliability in the dashboard widgets, and a spinner to show the progress.

Another change is multiple super admins were being shown, so I fixed that as well.

[2016-04-30 01:22] #130 closed

[2016-05-01 23:52] #122 closed

[2016-05-01 23:53] ronalfy opened #131 "Test Update Logs"
@pixolin @mpsparrow would like help testing this feature.

You can find it under this branch: https://github.com/easy-updates-manager/easy-updates-manager/tree/beta_feature

[2016-05-01 23:55] ronalfy commented on #131
Bumping this to milestone 6.0. This is a major update.

[2016-05-02 00:22] mpsparrow commented on #131
Sweet

[2016-05-02 00:25] mpsparrow commented on #131
I will test it in an hour or so.

[2016-05-02 01:18] mpsparrow commented on #131
Ok, time to test!

[2016-05-02 01:41] mpsparrow commented on #131
One thing, should it not show which version you updated to as well? I think users might get confused about what version number it is showing.

[2016-05-02 01:44] mpsparrow commented on #131
That's strange, now it is showing the version it updated to.

[2016-05-02 01:45] mpsparrow commented on #131
It would appear that if you automatically update the plugin it shows the version it updated to, as appose to if you manually update the plugin it shows the version it updated from.

[2016-05-02 01:50] ronalfy commented on #131
Good catch. I'll do some more testing as well.

[2016-05-02 03:01] mpsparrow commented on #131
Same error goes for theme updates.

[2016-05-02 03:02] mpsparrow commented on #131
![2016-05-01 23_02_18-bluestacks app player](https://cloud.githubusercontent.com/assets/6476699/14946479/d421200c-0ff0-11e6-88d4-96c8d676ecb7.png)

[2016-05-02 03:11] mpsparrow opened #132 "Update Documentation"
Documentation is in need of an update, especially because of the new update logs.

- [x] New Screenshots
- [x] Update Wiki
- [x] Update Plugin Description
- [x] Update Help Tab
- [x] Video

@ronalfy: Also, one error I have noticed is that in the plugin authors it shows all our names, but then only links to one link. I know it is not possible to link each persons name individually, but maybe to mak

[2016-05-02 03:16] mpsparrow commented on #132
As for the screenshots I was thinking of a gif for the log screenshot. Just a quick one showing us enabling logs and then going to the logs tab. Then would just have a plan screenshot for the log.

[2016-05-02 03:17] mpsparrow commented on #132
I can do all of this.

[2016-05-02 03:46] ronalfy commented on #132
I was planning on creating a video for it.

[2016-05-02 03:46] ronalfy commented on #132
Agree about the author section. Just Easy Updates Manager team or something like that.

[2016-05-02 03:48] ronalfy commented on #131
Pushed up a fix. It was a caching issue.

![screen shot 2016-05-01 at 10 45 19 pm](https://cloud.githubusercontent.com/assets/636521/14946844/c0f815b4-0fee-11e6-974f-2e4e7b9b94b5.png)

[2016-05-02 03:50] ronalfy commented on #131
Noticed a new error in the above screenshot. It looks like automatic updating of core is being saved twice.

[2016-05-02 03:56] ronalfy commented on #131
Pushed out a fix for the above.

![screen shot 2016-05-01 at 10 55 54 pm](https://cloud.githubusercontent.com/assets/636521/14946917/fc4f31aa-0fef-11e6-91a5-7bbea3887611.png)

[2016-05-02 04:02] ronalfy commented on #129
Looks like I'll need to change the code to be `send_debug_notification_email` if the ticket is committed.

[2016-05-02 05:20] ronalfy opened #133 "Update Author Section in Plugin"
Use `Easy Updates Manager Team` instead of listing out all of the authors.

[2016-05-02 05:42] mpsparrow commented on #132
A video sounds good.

[2016-05-02 05:44] ronalfy opened #134 "Make logging themes translatable."
After testing, I'll go in and make the strings translatable.

[2016-05-02 05:44] mpsparrow commented on #133
+1 for Easy Updates Manager Team

[2016-05-02 05:45] mpsparrow commented on #134
Me and @pixolin are going to be busy translating after this update.

[2016-05-02 12:29] ronalfy commented on #131
I'm going to lt this sit on my personal site with all updates automatic to collect more data. Then I can come back to this with fresher eyes. Minor point releases can slowly add in filtering.

[2016-05-02 15:12] ronalfy opened #135 "Bug on Automatic Update Failure"
Does not show the plugin name or version.

![screen shot 2016-05-02 at 10 11 35 am](https://cloud.githubusercontent.com/assets/636521/14958074/62b284ca-104e-11e6-8487-886341fcb666.png)

[2016-05-02 16:58] mpsparrow commented on #135
How did you fail an update?

[2016-05-02 17:36] ronalfy commented on #135
Expired license

[2016-05-02 17:40] mpsparrow commented on #135
smart

[2016-05-02 23:39] ronalfy opened #136 "Bug on Manual Update Failure"
Failures on showing success when doing manual updates.

[2016-05-02 23:40] ronalfy commented on #136
Fixed with https://github.com/easy-updates-manager/easy-updates-manager/commit/5b18592f3a2b5d43541a05910bbf3c9fb113e59f and https://github.com/easy-updates-manager/easy-updates-manager/commit/bc64e2d6ec25031111b06b2476ea21e1fc090009

[2016-05-02 23:40] #136 closed

[2016-05-05 12:50] mpsparrow commented on #131
I just loaded it up on a site that I manage. Things are updated on it daily so it will be a good test to see if it logs it all properly.

[2016-05-06 20:56] ronalfy commented on #135
Fixed the above just now.

[2016-05-06 20:56] #135 closed

[2016-05-07 15:18] ronalfy opened #137 "Change verbage to Manual Updates?"
See https://wordpress.org/support/topic/does-updates-disabled-mean-no-notifications-as-well?replies=3#post-8374370

[2016-05-07 18:12] mpsparrow commented on #137
I see how that can be confusing to some people.

[2016-05-07 18:13] mpsparrow commented on #137
The question is what should we change it to?

[2016-05-07 21:42] ronalfy commented on #137
Leave it open for now. Need to concentrate on logs.

[2016-05-12 23:29] ronalfy commented on #131
Going to close this down. Let's go per issue from here on out.

[2016-05-12 23:29] #131 closed

[2016-05-12 23:44] ronalfy commented on #132
Wiki has been added here: https://github.com/easy-updates-manager/easy-updates-manager/wiki/2.4---Logs

[2016-05-13 00:10] ronalfy commented on #132
Video is also completed. https://youtu.be/Z6dPPv8Wttc

[2016-05-13 01:44] mpsparrow commented on #132
Wow, you have been busy.

[2016-05-13 01:48] mpsparrow commented on #132
I will work on some screenshots for the wiki and plugin in a moment.

[2016-05-13 02:02] ronalfy commented on #134
Should be resolved with: https://github.com/easy-updates-manager/easy-updates-manager/commit/18fc269f1cdb00e2d2b911ea39667dfc53391317

[2016-05-13 02:02] #134 closed

[2016-05-13 02:07] ronalfy commented on #133
https://github.com/easy-updates-manager/easy-updates-manager/commit/1eb4f2a053033ef917dd1463ca30903275cfdeeb

[2016-05-13 02:07] #133 closed

[2016-05-13 02:19] ronalfy commented on #132
Not sure what to do with the help section or plugin description. Any ideas?

[2016-05-13 02:35] mpsparrow commented on #132
I will look into the help section tomorrow. As for the plugin description I was thinking of just adding logs as one of the points under "features include". Zzzzz

[2016-05-13 15:54] mpsparrow commented on #132
New screenshots. I just took them from your video.

![2016-05-12 22_16_37-easy updates manager - logs feature - youtube](https://cloud.githubusercontent.com/assets/6476699/15253661/51898fa2-1901-11e6-8124-dcae88b9a6e7.png)
![2016-05-12 22_17_08-easy updates manager - logs feature - youtube](https://cloud.githubusercontent.com/assets/6476699/15253663/519e3182-1901-11e6-840a-b76a776b565c.png)
![2016

[2016-05-13 16:23] ronalfy commented on #132
Awesome. Thanks!
On Fri, May 13, 2016 at 10:54 Matthew notifications@github.com wrote:

[2016-05-13 23:02] ronalfy commented on #132
Okay, got all the screenshots added. Just need your input on the help tab and we're ready to launch this puppy.

[2016-05-14 03:38] mpsparrow commented on #132
Help tab is done

[2016-05-14 03:39] mpsparrow commented on #132
I merged a few tabs and tweaked some of the text to sound better.

[2016-05-14 03:48] mpsparrow commented on #132
Added some images to the logs section in the wiki. That should do it for the wiki.

[2016-05-14 03:49] mpsparrow commented on #132
So I think it is safe to say that all the documentation is done.

[2016-05-14 03:49] #132 closed

[2016-05-14 03:52] mpsparrow opened #138 "6.0.0 Release"
When you want to pull the trigger? It's probably too late tonight. @ronalfy, you available to do it tomorrow some time?

[2016-05-14 04:29] ronalfy commented on #138
I'm not too drunk so I'll do it tonight.
On Fri, May 13, 2016 at 22:52 Matthew notifications@github.com wrote:

[2016-05-14 06:01] ronalfy commented on #138
Hmm, checked out the new diffs and notices that you added a line that said setting to defaults also disables logs. Right now it does not. Should I add that in before launch?

[2016-05-14 06:02] ronalfy commented on #138
Actually, I take that back. It does disable the functionality, but does not delete the table.

[2016-05-14 06:02] ronalfy commented on #138
Or clear out the table.

[2016-05-14 09:59] ronalfy commented on #138
Ok, added some code to drop the table. Ready to launch.

[2016-05-14 10:20] ronalfy commented on #138
Launched!

[2016-05-14 10:20] #138 closed

[2016-05-14 10:28] ronalfy opened #139 "Re-setting Advanced Options and Re-enabling Logs Doesn't Seem to Work"
When I reset advanced options and enabled logging, the logging feature didn't appear to work. Needs a bit more testing.

[2016-05-14 14:21] mpsparrow commented on #138
Awesome!

[2016-05-14 14:28] mpsparrow opened #140 "Update English Canada Translations"
Should be done in a moment.

[2016-05-14 14:31] mpsparrow commented on #140
done

[2016-05-14 14:31] #140 closed

[2016-05-15 19:05] ronalfy commented on #139
Fixed.

[2016-05-15 19:05] #139 closed

[2016-05-15 21:33] mpsparrow commented on #139
good work

[2016-05-16 15:58] ronalfy opened #141 "Allow Translations to be logged"
Right now translations aren't logged.

[code]

[2016-05-17 17:44] ronalfy opened #142 "Array Merge Causes Warning"
https://github.com/easy-updates-manager/easy-updates-manager/blob/trunk/includes/MPSUM_Admin.php#L316

See: https://wordpress.org/support/topic/warning-error-message-on-plug-in-activation-on-multisite

[2016-05-17 22:15] ronalfy commented on #141
<img width="1193" alt="screen shot 2016-05-17 at 5 14 21 pm" src="https://cloud.githubusercontent.com/assets/636521/15341197/e9c143a6-1c52-11e6-9799-28dcbf0c73cf.png">

[2016-05-17 22:17] ronalfy commented on #141
Fixed: https://github.com/easy-updates-manager/easy-updates-manager/commit/f443067a7328d01783ad22c3f4b20a848c7071a2

Please note that there is no way to log manual updates of translations.

[2016-05-17 22:17] #141 closed

[2016-05-17 23:31] ronalfy commented on #142
Fixed. Releasing.

[2016-05-17 23:31] #142 closed

[2016-05-18 01:28] mpsparrow commented on #141
Wonderful!!! Your amazing

[2016-05-18 03:00] ronalfy opened #143 "Manual Translation Update Logs"
See: https://core.trac.wordpress.org/ticket/36872

[2016-05-18 03:00] ronalfy commented on #143
@mpsparrow see above for the ticket regarding manual translation logging/updates.

[2016-05-18 03:06] mpsparrow commented on #143
Good idea. I agree that that should be added.

[2016-05-19 21:41] ronalfy opened #144 "CSS on List Views Wonky for Checkboxes"
Checkboxes are green. GREEN!

[2016-05-19 21:42] ronalfy opened #145 "Bulk Disabling Not Working"

[2016-05-19 21:43] mpsparrow commented on #144
I don't see what you are referring to? Where are they green?

[2016-05-19 21:57] ronalfy commented on #144
On the plugins list table and themes lists table.

[2016-05-19 21:57] ronalfy commented on #144
When you check a box.

[2016-05-19 21:58] mpsparrow commented on #144
Mine are bordered blue...

[2016-05-20 15:42] robneu opened #146 "Overriding Default Options"
I heard about your plugin via the WP Tavern article and it's pretty sweet! We have something similar to it built into our custom plugin that we install for all WP Site Care customers, but Easy Updates Manager is much more fleshed out and would be easier for our support agents to use.

The one issue I would have with switching over to it is that we need to have different default settings than what

[2016-05-20 15:57] ronalfy commented on #146
Would a filter around https://github.com/easy-updates-manager/easy-updates-manager/blob/trunk/includes/MPSUM_Admin_Core.php#L57 work?

[2016-05-20 15:59] ronalfy commented on #146
BTW, I'm in love with WP Site Care. My agency is planning on using it bundled with some dev hours.

[2016-05-20 15:59] robneu commented on #146
Yup, I think that would cover it for our use case. 👍

Haha nice! Looking forward to it. 💯

[2016-05-20 16:00] ronalfy commented on #146
Cool, adding to the 6.0.5 milestone. Will try to get to it this weekend.

[2016-05-20 16:03] robneu commented on #146
Sweet! I could toss together a quick PR if you want.

[2016-05-20 16:05] ronalfy commented on #146
Sure. That would be wonderful.
On Fri, May 20, 2016 at 11:03 Rob Neu notifications@github.com wrote:

[2016-05-20 16:21] ronalfy commented on #144
Fixed https://github.com/easy-updates-manager/easy-updates-manager/commit/214f218858d408d108e3bd9991999b69b1e389ec

[2016-05-20 16:21] #144 closed

[2016-05-20 16:22] ronalfy commented on #145
This is so weird. Sometimes I can duplicate this, sometimes not. Closing for now.

[2016-05-20 16:22] #145 closed

[2016-05-20 18:19] ronalfy commented on #146
Merged: https://github.com/easy-updates-manager/easy-updates-manager/commit/93c247c22da2c4c875605f8c9f3139c805513a72

[2016-05-20 18:32] ronalfy commented on #146
Just pushed out the update in 6.0.5. https://wordpress.org/plugins/stops-core-theme-and-plugin-updates/changelog/

[2016-05-20 19:45] robneu commented on #146
🎉

[2016-05-24 19:41] ronalfy opened #149 "Add Filters to Logs"
Now that logs is as stable as it can be, let's add some filters in. 6.1 milestone?

[2016-05-24 19:41] ronalfy opened #150 "Add Warning to dashboard if a fresh install"

[2016-05-24 20:48] mpsparrow commented on #149
sold!

[2016-05-24 21:13] mpsparrow commented on #150
Fresh install of what?

[2016-05-24 22:11] ronalfy commented on #150
Fresh install of EUM with no options saved. I have no opinion which way it goes.

[2016-05-24 22:11] ronalfy commented on #150
Somebody on the forums today was confused why his plugins weren't updating and he had only the default options (meaning, he/she didn't save anything).

[2016-05-24 22:22] mpsparrow commented on #150
Oh, so like a notice saying that you should go and configure Easy Updates Manager?

[2016-05-24 23:44] mpsparrow opened #151 "Weird Log Failure"
![2016-05-24 19_41_15-updates options new connections ministries wordpress](https://cloud.githubusercontent.com/assets/6476699/15523309/821da6c8-21e7-11e6-99de-fb825e27d595.png)

So for some reason the bottom update failed. The website just shut down for a moment (problem on my end). But then when I updated the theme again it successfully updated. The problem is it shows that it was a failure on t

[2016-05-25 00:49] ronalfy commented on #151
For some reason WordPress cached the failed version, so when the update saw
the versions were the same, it put it as a failure.
On Tue, May 24, 2016 at 18:44 Matthew notifications@github.com wrote:

[2016-05-25 01:13] mpsparrow commented on #151
So is there anything that we can do to fix it?

[2016-05-25 01:42] ronalfy commented on #151
Leave it open and I'll try to duplicate it.
On Tue, May 24, 2016 at 20:13 Matthew notifications@github.com wrote:

[2016-05-25 17:49] ronalfy commented on #151
Okay, couldn't duplicate. WordPress doesn't give many options for manual updates, as in if they have failed or not.

Let's keep this open and see if others have this issue. But as of right now, there's no way to fix it.

[2016-05-28 15:56] mpsparrow opened #152 "Invalid link in FAQ"
Adding this for reference.

Invalid FAQ link brought up in https://wordpress.org/support/topic/feature-suggestion-send-the-update-notification-emails-to-a-specific-email?replies=5#post-8458277 is fixed in https://github.com/easy-updates-manager/easy-updates-manager/commit/d729501514b807a595687b390bcdd9a5584cb0e0.

[2016-05-28 19:24] ronalfy opened #153 "Add e-mail option to EUM General Tab"
Allow users to input e-mails for update notifications.

[2016-05-28 19:26] ronalfy commented on #152
Thanks. Updated on WordPress.org.

[2016-05-29 20:43] ronalfy commented on #149
@mpsparrow feel free to merge pull request and test.

[2016-05-29 21:43] #149 closed

[2016-05-29 21:44] ronalfy commented on #153
@mpsparrow if you get a chance, check out trunk. I placed filters and e-mails in there.

[2016-05-29 23:22] mpsparrow commented on #153
Sorry, I have been busy all day. I will look over everything this evening and get back to you.

[2016-05-29 23:50] ronalfy commented on #153
Thanks. The only thing I wasn't able to test out 100% was the emails.
On Sun, May 29, 2016 at 18:22 Matthew notifications@github.com wrote:

[2016-05-29 23:50] #152 closed

[2016-05-30 05:05] mpsparrow commented on #153
Tested it all and everything appears to work properly. I really like the new log filters.

[2016-05-30 16:59] ronalfy opened #156 "6.1 Release"
Need help with this if you can.

- [x] Screenshots
- [x] Documentation
- [x] Video on new filters
- [x] Readme.txt
- [x] Bump version
- [x] Inline docs
- [x] Testing

[2016-05-30 17:00] #153 closed

[2016-05-30 17:46] #156 closed

[2016-05-31 23:22] ronalfy commented on #143
Submitted a patch per above.

[2016-06-01 02:17] mpsparrow commented on #143
Nice work.

[2016-06-06 22:01] ronalfy commented on #129
Punted because I was not willing to do any more patches.

[2016-06-06 22:01] #129 closed

[2016-06-06 22:02] #151 closed

[2016-06-08 14:35] ronalfy opened #157 "Bulk Actions On Bottom of Plugins/Themes Tabs aren't working"
Fixed with 6.1.1

[2016-06-08 14:35] #157 closed

[2016-06-08 14:37] mpsparrow commented on #157
Good catch.

[2016-06-10 04:28] robneu commented on #146
So... coming back around to this... I think I may have misunderstood how the defaults work. Before they're actually saved, it doesn't seem like the defaults actually do anything other than act as a placeholder for the initial settings to be saved.

Is that how they work? If so, I think I might need to figure out another way to handle this. The issue I'm having is we have a large base of sites that

[2016-06-10 04:32] ronalfy commented on #146
Understood. We don't save options unless expicitly saved so we don't accidently override any defaults WordPress has.

What would your idea of a solution be?

[2016-06-10 04:38] robneu commented on #146
Well, in my case I can probably just use core's pre_option filter and set some values if they haven't already been saved. At first glance, it looked like all the options were saved to a single value as an array, is that accurate? Are there any best-practices for getting/setting the option using built-in methods?

[2016-06-10 04:53] ronalfy commented on #146
We have a static method you can call in main.php called update_options you can use. Context would be core. You can retrieve the options using get_options core and then save your filtered ones.

[2016-06-10 05:05] robneu commented on #146
Sweet. I think we should be good on our end.

If you wanted to handle it within the plugin itself, I think the only real option would be to change the "defaults" from presets to true defaults that get used until someone specifically sets an option. As long as they mimic what WP cores defaults are, I don't really see an issue with it.

It's possible that it could create some unexpected results on s

[2016-06-10 18:57] #146 closed

[2016-06-11 01:52] robneu commented on #146
Just in case anyone else stumbles across this in the future, or if you wind up wanting to do something within the plugin at some point, this is more or less how we handled it on our end:

[code]

The last part is unrelated to the actual update handling, it's just forcing our default user to be excluded by default.

[2016-06-11 01:56] ronalfy commented on #146
Beautiful
On Fri, Jun 10, 2016 at 20:52 Rob Neu notifications@github.com wrote:

[2016-06-11 18:35] ronalfy commented on #143
Ticket committed!

[2016-06-11 18:35] #143 closed

[2016-06-27 17:10] mpsparrow opened #158 "Disable and Enable Automatic Updates Not Working Individually"
https://wordpress.org/support/topic/plugins-link-not-changing?replies=2#post-8575703

I think this may be due to WordPress 4.5.3!?! @ronalfy Can you look into this when you get the chance?

I am going to do some testing on it right now to try and narrow down the issue.

[2016-06-27 17:22] mpsparrow commented on #158
After some testing it is not a conflict problem with WordPress 4.5.3. It appears as if this error started in 6.1.1. Probably due to https://github.com/easy-updates-manager/easy-updates-manager/commit/d81393d8c66a8630935f3a90f901a78928541ebb and https://github.com/easy-updates-manager/easy-updates-manager/commit/07ec37fd3397887f5f08e9063a306790d4b5415a

[2016-06-27 17:24] ronalfy commented on #158
Thanks, will take a look.

[2016-06-27 17:28] mpsparrow commented on #158
Thanks.

I just reverted those two commits on my localhost install and it appears to be working again which confirms that the problem was made in those commits.

[2016-06-27 17:53] ronalfy commented on #158
Can you check trunk now? https://github.com/easy-updates-manager/easy-updates-manager/commit/951b67d907bffd5b23a9a1ee6146702b1846f43f

[2016-06-27 17:55] mpsparrow commented on #158
Testing right now... give me a second.

[2016-06-27 17:58] mpsparrow commented on #158
Appears to work. Just let me run an update through to make sure that it works.

[2016-06-27 18:00] mpsparrow commented on #158
Works!

[2016-06-27 18:00] #158 closed

[2016-06-27 18:01] mpsparrow commented on #158
You got the rest? or do you want me to push the update?

[2016-06-27 18:03] ronalfy commented on #158
I'll get it out shortly.

[2016-06-27 18:03] mpsparrow commented on #158
Ok, thanks!

[2016-07-03 20:52] mpsparrow opened #159 "WordPress 4.6 Testing"
WordPress 4.6 beta 1 is out. I am working on testing it against Easy Updates Manager 6.1.5 right now.

https://wordpress.org/news/2016/06/wordpress-4-6-beta-1/
https://make.wordpress.org/core/version-4-6-project-schedule/

[2016-07-03 22:19] mpsparrow commented on #159
Works!

[2016-07-03 22:19] #159 closed

[2016-07-06 15:48] ronalfy opened #160 "Help Wanted: Test Manual Translation Logs"
I've just pushed up a bit of code that enables manual logging of translations.

You can test it by switching the language in Settings->General and then going to Dashboard->Updates and manually updating the languages there.

If all is well, I'll push out an update.

[2016-07-06 16:16] mpsparrow commented on #160
It appears to work for me on 4.6 beta1. The only thing is that it doesn't show who the user is that manually updated the translations.

![2016-07-06 12_15_18-](https://cloud.githubusercontent.com/assets/6476699/16625596/5a9d2558-4373-11e6-8416-5fd4a371ebae.png)

[2016-07-06 16:32] ronalfy commented on #160
Oh, good catch.

[2016-07-07 14:35] #160 closed

[2016-07-28 03:42] mpsparrow opened #161 "It's that time again..."
WordPress 4.6 is scheduled to drop on August 16, 2016. RC1 of 4.6 was released today. Time to test Easy Updates Manager against 4.6. If you get any chance to test it @ronalfy that would be great. If you don't, I will be doing a full complete test of Easy Updates Manager with WordPress 4.6 RC1 (when I get around to it in the next week).

If you do get around to testing it make sure to check over th

[2016-08-06 05:15] mpsparrow commented on #161
I did loads of testing and Easy Updates Manager works fine with WordPress 4.6 RC1.

I am going to leave this thread open until WordPress 4.6 is released just in case any capability issues come up.

[2016-08-11 18:43] ronalfy commented on #161
I've had the same success. So far so good.

[2016-08-15 05:16] ronalfy commented on #150
Eh, I've thought about this and have decided against it :) - Re-open if you still want to consider this one.

[2016-08-15 05:16] #150 closed

[2016-08-15 05:18] ronalfy opened #162 "Screen Options for Dashboard Disable and Logs Pagination"
Think it would be nice to have a screen options setting to disable the dashboard per user and have an option to increase or decrease the pagination on logs as well.

[2016-08-15 17:06] mpsparrow commented on #162
Sounds like a good idea to me. Being able to increase/decrease the pagination on logs will be super helpful.

[2016-08-17 04:16] #161 closed

[2016-08-17 22:40] ronalfy commented on #162
Ugh, there's not a way to create custom screen options to disable the dashboard view.

The only way I can think of is to always have a screen options for logs, regardless if logs are enabled or not. Then I can use JS to insert a custom option and save it fix Ajax.

[2016-08-17 22:43] ronalfy commented on #162
Yup, this is what I'm going to do :D

[2016-08-17 23:30] mpsparrow commented on #162
Let me know when it is ready to test and document.

[2016-08-17 23:46] ronalfy commented on #162
Ready for testing on the dev branch.

[2016-08-17 23:55] mpsparrow commented on #162
Works well! Why didn't we do this sooner!

[2016-08-17 23:56] ronalfy commented on #162
Ha. I'll go ahead and release if you can update the docs?

[2016-08-17 23:58] ronalfy commented on #162
Actually I'll wait until the download counter resets and then release. Feel free to update whatever you like.

[2016-08-17 23:59] ronalfy opened #163 "Update EUM Docs for Screen Options"

[2016-08-18 00:00] #162 closed

[2016-08-18 00:02] mpsparrow commented on #163
Going to eat supper right now, will do this in an hour or so.

[2016-08-18 01:01] mpsparrow commented on #163
Wiki is updated to include the screen options.

[2016-08-18 01:01] #163 closed

[2016-08-18 01:02] ronalfy commented on #163
Good work.

[2016-08-18 01:34] ronalfy opened #164 "Fix Radio Buttons for Mobile"
See screenshot below:

![screen shot 2016-08-17 at 8 33 51 pm](https://cloud.githubusercontent.com/assets/636521/17759047/fc7ff618-64b9-11e6-9ca5-ee54859d98e3.png)

[2016-08-18 01:35] mpsparrow commented on #164
Good catch

[2016-08-18 01:35] ronalfy opened #165 "Add Screenshot For Screen Options"
- [x] Update Readme
- [x] Update Assets

[2016-08-18 01:36] mpsparrow commented on #165
I already have screenshots for them because of the wiki.

[2016-08-18 01:36] mpsparrow commented on #165
![2016-08-17 20_53_06-updates options development wordpress](https://cloud.githubusercontent.com/assets/6476699/17759102/b56fb656-64c2-11e6-8aaa-d1f289855da8.png)
![2016-08-17 20_53_24-updates options development wordpress](https://cloud.githubusercontent.com/assets/6476699/17759103/b67855f8-64c2-11e6-8c6a-b4cf5ad40832.png)

[2016-08-18 01:37] ronalfy commented on #165
Cool. I might take a new one if you don't mind.

[2016-08-18 01:37] mpsparrow commented on #165
Go ahead

[2016-08-18 01:38] ronalfy commented on #165
I'll sit on the release for a week so people don't get update fatigue. Nothing hardcore pressing.

[2016-08-18 01:40] mpsparrow commented on #165
Sounds good.

[2016-08-19 00:19] ronalfy opened #166 "Lots of Log Failures"
Looks like a lot of log failures. Are you having the same luck @mpsparrow ?

![screen shot 2016-08-18 at 7 18 46 pm](https://cloud.githubusercontent.com/assets/636521/17794857/ba982e72-6578-11e6-8b30-5baa8f81632c.png)

[2016-08-19 00:25] ronalfy commented on #166
![screen shot 2016-08-18 at 7 24 35 pm](https://cloud.githubusercontent.com/assets/636521/17794942/826cf130-6579-11e6-91f7-5b8684b2c320.png)

Different site.

[2016-08-19 00:36] ronalfy commented on #166
Looks like WordPress 4.6 changed how the cache and such are updated. We need to have a serious discussion about what this means.

[2016-08-19 00:44] ronalfy commented on #166
Ugh! This wasn't there before!

[code]

[2016-08-19 02:13] mpsparrow commented on #166
I just noticed the same thing this afternoon.

[2016-08-19 02:15] mpsparrow commented on #166
![2016-08-18 22_14_17-updates options matthews stuff wordpress](https://cloud.githubusercontent.com/assets/6476699/17796758/2e161630-6591-11e6-8ff0-447b24abfb42.png)

[2016-08-19 02:15] mpsparrow commented on #166
Seems to be only plugins and themes that are failing out on my websites.

[2016-08-19 06:57] ronalfy commented on #166
Should be fixed with this: https://github.com/easy-updates-manager/easy-updates-manager/commit/f838556fc8124d96a74b9449da8b21f63754169d

Should we wait to see real-time results or fix it right away?

[2016-08-19 07:04] ronalfy commented on #166
![screen shot 2016-08-19 at 2 03 37 am](https://cloud.githubusercontent.com/assets/636521/17801702/3802e77a-65b1-11e6-8fc3-da692bd8b4b6.png)

[2016-08-19 07:22] ronalfy commented on #164
Fixed: https://github.com/easy-updates-manager/easy-updates-manager/commit/308a3b53aa705640ff7f786418df93ea7818d805

![screen shot 2016-08-19 at 2 20 27 am](https://cloud.githubusercontent.com/assets/636521/17802104/d2c9f12a-65b3-11e6-8402-a5aa055c686d.png)

[2016-08-19 07:22] #164 closed

[2016-08-19 13:13] mpsparrow commented on #166
Let me load it up on a few websites right now and test it. Then maybe we can push it out.

[2016-08-19 13:30] mpsparrow commented on #166
Appears to work well! Want to push it out?

[2016-08-19 13:31] ronalfy commented on #166
I'm in a meeting until 1pm. I'll push it out after. Thanks for testing.
On Fri, Aug 19, 2016 at 08:30 Matthew notifications@github.com wrote:

[2016-08-19 21:50] #165 closed

[2016-08-19 21:50] #166 closed

[2016-08-21 00:01] ronalfy opened #167 "Releases as Changelogs"
Should we trim the readme changelogs and just rely on the releases tab for all of them?

I only bring it up because our changelog is getting pretty large.

[2016-08-21 00:52] ronalfy opened #168 "Configure Buttons Went Away"
Not sure if this is 4.6 or something else, but the configure buttons went away with the update.

[2016-08-21 02:23] mpsparrow commented on #167
Maybe we should keep the five most recent versions changelogs and then link to the releases page on GitHub for more.

[2016-08-21 02:24] mpsparrow commented on #168
How did that disappear? Could have sworn it was there when I tested against 4.6.

[2016-08-21 02:29] ronalfy commented on #168
Dammit, I screwed it up when I changed main.php. Guess I'll have to change it back.

[2016-08-21 06:04] #168 closed

[2016-09-15 21:31] jr00ck opened #169 "Logs reporting successful plugin update when it actually failed"
I had a plugin update failing on a bunch of sites recently (CloudFlare 1.3.24 -> 1.3.25). The background updates email log shows this:

Checking the websites, the plugin was indeed, not updated and the background update had failed. However, your plugin logged the attempt as successful. I tracked down the issue for you:

Around line 109 of "includes/MPSUM_Logs.php", there is this code:
`$status = i

[2016-09-15 21:37] ronalfy commented on #169
Thank you! I'll take a look.
On Thu, Sep 15, 2016 at 16:31 Jeremy Saxey notifications@github.com wrote:

[2016-09-15 21:40] ronalfy commented on #169
This is also a bug in WordPress I believe.

https://core.trac.wordpress.org/ticket/38024#comment:8
On Thu, Sep 15, 2016 at 16:37 Ronald Huereca ronalfy@gmail.com wrote:

[2016-09-15 22:33] jr00ck commented on #169
Thanks for sharing this! This is a slightly different error (but related, I suppose). I was going to look into this error "[fs_unavailable]” and report to core myself, as I’ve discovered this error before. With this error, their own email logs are mismatched. For example, we get this email on Divi theme updates:

You can see that it says it was successful up top, but then at the bottom, it actuall

[2016-09-16 04:18] ronalfy commented on #169
I think the first is a genuine bug and the latter is the WordPress bug that's been kicking our arses :)

[2016-09-16 04:19] ronalfy commented on #169
Automattic people are traveling atm (dd32 is the component maintainer), but Helen put it on a milestone at least so that it will get addressed.

[2016-09-16 04:50] jr00ck commented on #169
Perfect! Hopefully this fixes up background updates in Core and you can address anything needed on your end. Let me know if you need anything else from me.

[2016-09-26 19:33] ronalfy opened #170 "Issue with GoDaddy Hosting - Managed"
Just got off the phone with GoDaddy and with GoDaddy Managed Hosting, CRON is disabled. This means the normal update process that WordPress uses cannot run.

Not sure what to do at this point, but out of ideas.

[2016-09-27 01:08] mpsparrow commented on #170
So CRON is disabled on all GoDaddy hosting? Is there a way to enable CRON in the GoDaddy backend, or are they just screwing all their customers?

_sigh_

[2016-09-27 01:10] ronalfy commented on #170
I think they disable server cron and not WP cron. I think it's that
autoupdate bug biting us again.
On Mon, Sep 26, 2016 at 20:08 Matthew notifications@github.com wrote:

[2016-09-27 01:21] mpsparrow commented on #167
https://github.com/easy-updates-manager/easy-updates-manager/commit/55c4c12b20b4d45f76246e5b6c7d7360417bc102 sorts all this out.

For the future, we should make an effort to put the changelog in the GitHub release so that we have a record of it.

[2016-09-27 01:21] #167 closed

[2016-09-27 01:46] mpsparrow commented on #137
I haven't seen any other complaints about this, so I am thinking _wontfix_ this. Thoughts @ronalfy?

[2016-09-27 01:47] ronalfy commented on #137
Go fer it!
On Mon, Sep 26, 2016 at 20:46 Matthew notifications@github.com wrote:

[2016-09-27 01:48] #137 closed

[2016-09-30 00:23] mpsparrow opened #171 "Easy Updates Manager doesn't log updates done through Jetpack Manage"
When using the Jetpack Manage part of Jetpack, you have the ability to update plugins remotely through wordpress.com. If you use this, it doesn't log the updates through Easy Updates Manager.

Perhaps a FAQ should be created to let users know that Easy Updates Manager doesn't log updates that are done through external software.

[2016-09-30 15:44] ronalfy commented on #171
Good catch. I'll investigate if there's a way to log those too, otherwise doc updates.

[2016-09-30 15:44] ronalfy commented on #171
Really I see ourselves as a competitor :)

[2016-09-30 15:49] mpsparrow commented on #171
They do have automatic updates build into Jetpack Manage. Wouldn't be surprised if they add some more update settings in the future. It's on JETPACK!

[2016-10-22 21:19] tech4him1 commented on #169
Any news on this bug yet?

Just as a followup, I am still getting `fs_unavailable` errors on my site, where only one plugin will update at a time.  For example, here is an email from the system:

[code]

The next email will have one item further down the list, like so:

[code]

and so on.

[2016-10-22 23:01] mpsparrow commented on #169
@tech4him1

https://core.trac.wordpress.org/ticket/38024 is on the WordPress 4.6.2 milestone and a patch is in the works. We just need to be patient.

[2016-10-23 15:58] tech4him1 commented on #169
OK, sorry.  I didn't find the patch, and I just wanted to be sure there was progress.  Thank you.

[2016-10-28 18:52] mpsparrow opened #172 "EUM Tests with WordPress 4.7"
https://wordpress.org/news/2016/10/wordpress-4-7-beta-1/

[2016-11-03 17:42] mpsparrow opened #173 "load_plugin_textdomain() being called too early"
https://wordpress.org/support/topic/load_plugin_textdomain-being-called-too-early/#post-8392548

[2016-11-14 14:31] ronalfy commented on #169
https://core.trac.wordpress.org/ticket/38024 is fixed and committed. Closing for now.

Tested with two outdated plugins and two outdated themes, and updates and logs behaved as expected.

[2016-11-14 14:31] #169 closed

[2016-11-14 14:46] #173 closed

[2016-11-15 08:48] jr00ck commented on #169
Thanks for keeping track of this. I have a busy few weeks of travel and holidays, but I plan to test this again with my specific scenarios around the time WP 4.7 drops, which should include this fix. If there are any issues, I'll followup then. Thanks again1

[2016-12-01 00:48] mpsparrow opened #174 "Logs Disable When Settings Saved"
Still need to do some more testing (will do later this evening), but it would appear as if when you save settings in the General tab it disabled the logs tab and disables logs.

Easy Updates Manager 6.2.5
WordPress 4.7 RC1

[2016-12-01 00:49] ronalfy commented on #174
Good catch!
On Wed, Nov 30, 2016 at 18:48 Matthew <notifications@github.com> wrote:

[2016-12-01 02:42] mpsparrow commented on #174
Ok, did some more testing. It appears that it is not an error just with 4.7 RC1. I was able to reproduce the same problem on a fresh install of 4.6.1. The problem is that when you hit the save button on the General tab, no matter if you change a setting or not, it disabled logs.

[2016-12-01 02:45] mpsparrow commented on #172
Tested the latest WordPress 4.7 RC1 and all appears good. Going to leave this open until 4.7 is released just in case any problems come up or we do more testing.

[2016-12-01 02:49] mpsparrow opened #175 "Remove the "This feature is currently in beta" for logs feature"
I feel as if we have polished off the logs feature. Perhaps we should remove the following for under the Logs section in the Advanced tab.

[2016-12-01 02:51] ronalfy commented on #175
Sounds good.
On Wed, Nov 30, 2016 at 20:49 Matthew <notifications@github.com> wrote:

[2016-12-01 03:08] mpsparrow commented on #175
Perhaps in place of it we should add something explaining what the logs feature does. For example, "This feature enables a Logs tab which will log all updates that occur.".

[2016-12-01 20:26] ronalfy commented on #174
Fixed https://github.com/easy-updates-manager/easy-updates-manager/commit/7ab3c75e5fd7bf6fea3ba204ebab71d137a6fcaa

[2016-12-01 20:26] #174 closed

[2016-12-01 20:27] mpsparrow commented on #174
Cool! I shall test it right now.

[2016-12-01 20:29] mpsparrow commented on #174
Good work! Fixes the problem perfectly.

[2016-12-01 20:36] ronalfy commented on #175
Can you try this out and close if appropriate?

https://github.com/easy-updates-manager/easy-updates-manager/commit/db7792a0124813648647541e47545d3ef2fd09ee

[2016-12-01 20:37] mpsparrow commented on #175
Sure

[2016-12-01 20:39] ronalfy commented on #171
Does this work by adding it to the readme?

https://github.com/easy-updates-manager/easy-updates-manager/commit/a6b31f6c031a0e9bc7ac0900b2fa01501e78401b

[2016-12-01 21:04] mpsparrow commented on #171
I think that is good for now. I don't think it is worth going through the trouble at this time to try and log things like this. Once we allow logging for Jetpack Manage then everyone is going to want us to do it for other 3rd party services. It is probably best if we just stay away from integrating 3rd party services into Easy Updates Manager.

[2016-12-01 21:04] #171 closed

[2016-12-01 21:04] #175 closed

[2016-12-07 20:07] #172 closed

[2017-01-16 00:16] mpsparrow opened #176 "Issue with bulk updates being logged"
Just testing this now, but noticed it a few days ago. It would appear that when you update multiple plugins at once only one update is logged.

Going to test right now if the same is for theme and translation updates. Also going to test if this is a problem with WordPress 4.7 or 4.7.1.

[2017-02-01 17:05] mpsparrow opened #177 "Easy Updates Manager Multisite Testing"
https://wordpress.org/support/topic/automatic-updates-not-working-on-multisite/

I am hopefully going to get around to testing this along with #176 later today. Although Multisite and me don't get along that well.

[2017-02-01 17:13] ronalfy commented on #177
I have a local MS I can test real quick. Sorry was insanely busy yesterday.
On Wed, Feb 1, 2017 at 11:05 Matthew <notifications@github.com> wrote:

[2017-02-01 17:18] mpsparrow commented on #177
No problem. If you could test it then and maybe reply to that thread when yo get a chance, that would be greatly appreciated.

I will do some testing on #176 to see if it is just the website causing the problem or if there is yet another logs problem.

[2017-02-01 17:26] ronalfy commented on #177
![screen shot 2017-02-01 at 11 25 14 am](https://cloud.githubusercontent.com/assets/636521/22518155/35ad795c-e871-11e6-83de-160a94db0283.png)

Still working. Must be something else going on, but I have no idea what to try based on the thread.

[2017-02-01 17:26] #177 closed

[2017-02-01 22:27] mpsparrow commented on #176
@ronalfy It would appear that if you update multiple plugins at once only on update is logged in the EUM logs. Only appears to be happening on plugins and not themes. Also only happening when you manually update plugins. When plugins are automatically updated it logs them all.

[2017-02-07 14:34] chadberg opened #178 "Feature request: email on failure"
I'd like to see a feature added where if an update is attempted and fails, an email to that effect is sent to the site admin.

[2017-02-07 14:35] chadberg commented on #178
Nevermind, this is handled by WP core, outside of this plugin.

[2017-02-07 14:35] #178 closed

[2017-02-13 22:23] #176 closed

[2017-02-18 22:08] mpsparrow opened #179 "disable/enable specific translations for plugins"
See https://wordpress.org/support/topic/automatically-update-only-specific-plugin-translations/

[2017-02-20 16:43] ronalfy opened #180 "Test out new Dashboard"
I need some help testing out the new Dashboard, which was rewritten using React and should be much more stateful.

To test, download down the react branch.

[2017-02-20 17:21] mpsparrow commented on #180
Sure thing, will test it today.

[2017-02-20 17:22] ronalfy commented on #180
So far IE8/9 are not working. IE10/11/Edge are.

[2017-02-20 17:24] mpsparrow commented on #180
If you are still using IE 8/9 then you are sad.

[2017-02-20 18:50] mpsparrow commented on #180
One thing I notice right off the bat is that the dashboard is no longer responsive. Tested on both Windows 10 with Firefox and an Android phone with Chrome and got the same result.

![eum dash test](https://cloud.githubusercontent.com/assets/6476699/23138052/543041b4-f773-11e6-85ac-9e38400a1d9a.png)

[2017-02-20 18:52] mpsparrow commented on #180
This is what it use to do.
![eum dash test 2](https://cloud.githubusercontent.com/assets/6476699/23138167/c0bfa252-f773-11e6-94f8-718fdc60f820.png)

[2017-02-20 18:57] mpsparrow commented on #180
What is the point of these checkboxes? I am seeing them in some browsers (Firefox mainly) and not seeing it in others (like Opera).

![eum dash test 3](https://cloud.githubusercontent.com/assets/6476699/23138282/704d91e8-f774-11e6-8c4e-e88230b1ef1f.png)

Update: I only am seeing them in Firefox really, nowhere else are they showing up.

[2017-02-20 20:06] ronalfy commented on #180
@mpsparrow responsive styles added back in. I'm not seeing the extra checkbox in FF.

[2017-02-20 20:25] mpsparrow commented on #180
The responsiveness works well now.

@ronalfy Are you using Firefox on Mac or Windows? I am seeing on Windows 10 Firefox a clear checkbox like I showed in the screenshot above. Fresh install of WordPress will all the Firefox add-ons disabled. Also seeing on Android Firefox a line in place of the checkbox. Don't know what it could be.

[2017-02-20 20:29] mpsparrow commented on #180
Oh, also the "WordPress Notifications" box is to the side. Is it suppose to be like that, or is it suppose to be in the middle column.

![eum dash test 4](https://cloud.githubusercontent.com/assets/6476699/23140750/5458a092-f781-11e6-8a18-74362e10be70.png)

[2017-02-20 20:54] ronalfy commented on #180
@mpsparrow That above style bug is fixed now. Which FF are you using? I tried FF 51 in Windows 10 and still do not see the checkbox.

[2017-02-20 20:58] mpsparrow commented on #180
@ronalfy 51.0.1

[2017-02-20 21:01] mpsparrow commented on #180
It only shows when plugin or theme updates are set to enable, disable, or default.

[2017-02-20 21:02] mpsparrow commented on #180
It isn't a huge deal, just a weird thing. Let me try and create another fresh WordPress install just to make extra sure that it isn't on my end.

[2017-02-20 21:03] ronalfy commented on #180
I just pushed up a fix. I saw it in 52 Beta.

[2017-02-20 21:05] mpsparrow commented on #180
Ok, give me a second to test it.

[2017-02-20 21:06] mpsparrow commented on #180
!!!! It worked!

[2017-02-20 21:29] mpsparrow commented on #180
Just did a quick check to make sure that all the options are still working well. Everything appears to be working great with this new react dashboard.

[2017-02-20 22:16] ronalfy opened #181 "Ask for ratings option"
I think a dismissible notice in the dashboard might help us get more ratings.

[2017-02-20 22:32] mpsparrow commented on #181
Sure. As long as it isn't too intrusive and easily dismissible, I say we do it.

[2017-02-21 04:26] mpsparrow commented on #181
Nice notice! The only thing I am wondering is if a button would be better then a link. Maybe even making the "Sure" option a button would clean it up a little.

[2017-02-21 20:13] ronalfy commented on #180
Thanks for all the help!

[2017-02-21 20:13] #180 closed

[2017-02-21 20:13] ronalfy commented on #181
BUTTONS!

[2017-02-21 20:13] #181 closed

[2017-02-21 20:13] ronalfy opened #182 "Make strings translatable"

[2017-02-21 20:28] ronalfy commented on #182
Fixed https://github.com/easy-updates-manager/easy-updates-manager/commit/9f6b59424fd708cc588d96614207d08f32bd4392

[2017-02-21 20:28] #182 closed

[2017-03-15 15:33] mpsparrow opened #183 "dashboard disabling settings it shouldn't"
See https://wordpress.org/support/topic/dashboard-vs-general/

In the Dashboard tab settings are being disabled when they shouldn't.

[2017-03-15 15:36] mpsparrow opened #184 "delayed automatic updates"
https://wordpress.org/support/topic/suggestion-delayed-automatic-update/

[2017-03-15 15:42] mpsparrow opened #185 ""toggle all" button on plugin/theme tables in dashboard"
https://wordpress.org/support/topic/feature-request-select-individually-toggle-all/

I am leaning towards not doing something like this as you can already do this in the plugin and theme tabs with bulk actions.

[2017-04-01 18:23] mpsparrow opened #186 "optimize the readme.txt for new plugin directory"
The readme.txt could use an update to better optimize it for the new plugin directory on wordpress.org.

[2017-04-21 20:29] ronalfy commented on #186
This may be a non-issue with the re-introduction of the tabbed interface into the WordPress plugin directory.

I recommend keeping this open, however, as they announce the new requirements for the `assets`.

[2017-04-21 20:35] ronalfy commented on #183
I don't think this is a bug. It's just a confusing experience.

I've asked a colleague who is a UX expert to join this project for evaluation as we re-think the admin interface.

[2017-04-24 17:21] mpsparrow commented on #183
Sweet!

[2017-04-24 17:21] mpsparrow commented on #186
Yeah, good idea.

[2017-05-02 08:56] nicomollet opened #188 "Customize email notifications: frequency and translations"
hello
Thanks for this plugin.
Really powerful and easy to setup.

I have 2 feature requests.
Currently, Easy Updates Manager sends an email for every update. This generates a lot of emails.

**Set the interval of how often to check for updates; hourly, twice daily or daily.**
"WP Updates Notifier" plugin has this feature. https://www.wordpress.org/plugins/wp-updates-notifier/.

**Select what updat

[2017-05-02 09:11] ronalfy commented on #188
We've tried the email thing before. It's a dead ticket, but you can tey reviving it by voicing your support.

https://core.trac.wordpress.org/ticket/33932

[2017-05-02 19:32] ronalfy opened #189 "Install Tracking Script"
With a potential UI overhaul, we actually have very little data on how the users are using the plugin.

I recommend we temporarily hide the rating nag and replace it with a tracking nag instead.

We'll install a tracking script (maybe just Google Analytics) to determine which options are clicked on the most, which tabs are most of least active, and hopefully come up with a better idea of user flow

[2017-05-02 21:21] mpsparrow commented on #189
Figuring out what each user is doing can really help us better optimize and clean up the Easy Updates Manager settings pages and UI. It will yield far more and better results then if we make a survey nag. Sounds like a good idea to me if it isn't too much trouble.

Is tracking user data allowed for plugins that are in the WordPress Plugin Repository? I assume as long as we keep the information ano

[2017-05-02 21:22] ronalfy commented on #189
@mpsparrow according to the guidelines, phoning home is allowed as long as it is opt-in.

[2017-06-05 22:25] ronalfy opened #190 "Test WordPress 4.8"
WordPress 4.8 RC2 is out. Let's begin testing.

I've already tested automatic updates for plugins, themes, and translations and went ahead and updated the tag in the WordPress plugin directory.

If you have some time, any testing would be much appreciated.

Sidenote: I'm looking into automating this

[2017-06-05 22:28] ronalfy commented on #190
![screen shot 2017-06-05 at 5 28 22 pm](https://cloud.githubusercontent.com/assets/636521/26806022/6aea1184-4a14-11e7-98ef-5ab2b79ce637.png)

Forgot to post the log results of my test.

[2017-06-05 22:32] ronalfy commented on #185
This could be useful for the new interface as I think the tabs might go away.

[2017-06-05 22:33] ronalfy commented on #184
I don't see this happening unless we can provide some kind of SASS service for this.

[2017-06-05 22:34] ronalfy commented on #170
Closing. Gardening.

[2017-06-05 22:34] #170 closed

[2017-06-05 23:06] mpsparrow commented on #190
Ok, will test it right now.

[2017-06-05 23:09] mpsparrow commented on #185
Yeah, when we get to that new interface this is something to consider.

[2017-06-06 01:39] mpsparrow commented on #190
Everything is working great on my end.

[2017-06-12 15:20] #190 closed

[2017-06-12 16:27] ronalfy opened #191 "Code Cleanup and Code Comments"

[2017-06-12 16:28] ronalfy opened #192 "Add Testing Foundation"

[2017-07-03 16:12] mpsparrow opened #193 ""From Version" and "To Version" in Logs"
https://wordpress.org/support/topic/feature-request-both-from-version-and-to-version-in-the-update-logs/

If you think about it only one more column would need to be added in order to do this.

[2017-07-03 17:57] ronalfy commented on #193
Can you foresee any others?
On Mon, Jul 3, 2017 at 11:13 Matthew <notifications@github.com> wrote:

[2017-07-10 14:21] ronalfy commented on #189
@mpsparrow can you check out dev for the tracking functionality? Nothing is being tracked yet, but the UI is there.

@robneu there's two more options in there if you all are still using this plugin. Filter `mpsum_default_options`.

I'll also need help writing the privacy docs to adhere to the plugin directory guidelines.

[2017-07-24 18:07] ronalfy commented on #189
@mpsparrow this is done! Need testing.

[2017-07-27 00:50] #189 closed

[2017-07-27 00:50] #186 closed

[2017-08-02 14:58] #184 closed

[2017-08-03 13:23] perandre opened #194 "Make EUM git friendly"
Installing the plugin on a site that is using git for version control (for custom plugins typically), will (by design) not work as intended, as updates will not happen. This is an important usecase for us, as we mix auto updates and git setup for plugins (using inverse .gitignore rules). Any plans on implementing a fix? If not, we can provide a PR tomorrow.

[2017-08-03 13:38] ronalfy commented on #194
Definitely a PR. I don't understand the issue.

[2017-08-03 13:41] perandre commented on #194
Sure, more obvious when you see it. The fix could live in another plugin, but then again EUM would give the impression of working, while not doing anything.

We'll hopefully have a PR for master branch tomorrow.

[2017-08-03 13:57] ronalfy commented on #194
If you can work the dev branch, that would be much appreciated.
On Thu, Aug 3, 2017 at 08:41 Per André Rønsen <notifications@github.com>
wrote:

[2017-08-03 14:01] perandre commented on #194
Sure! I misses some commits, but that's probably not an issue.

[2017-10-12 15:55] ronalfy opened #196 "New EUM Admin Interface"
Let's discuss what's needed for updating the EUM admin interface.

Background:
Easy Updates Manager used to come with the 4 tabs (General, Plugins, Themes, Advanced). Over time we experimented with a dashboard for quick access to the first three tabs. Logs were added later.

We always considered the Dashboard optional, with a screen option to disable it.

Data Collection:
In anticipation of creati

[2017-10-12 16:34] paaljoachim commented on #196
The following is a quick wireframe based on one of the earlier wireframes from Shiny Updates.
(NB! I updated the wireframe. )

![update-manager-plugin-wireframe](https://user-images.githubusercontent.com/5323259/31562023-35851a32-b05a-11e7-92e7-0897b1e2a230.jpg)

The thought is this:
Automatic Updates of WordPress, Plugins, Themes, Translations etc.

Below tabs for Plugins, Themes etc.
Click a tab

[2017-11-01 22:32] ronalfy commented on #193
@mpsparrow in the dev branch, there is logic to allow for this.

I've done my fair share of testing, but if you can help, that would be appreciated.

The way I'm getting the version numbers is a bit whacky as I have to store my own version of plugin/theme assets in a temporary transient.

Translations have no "from" version, so I default to just adding the current version.

[2017-11-02 05:32] mpsparrow commented on #193
@ronalfy Just noticed this now. Will test it in the morning.

[2017-11-02 06:07] mpsparrow commented on #196
I am interested in a simpler one page design. Main thing I am questioning is if it would be possible to fit all the tables and settings comfortably on a page.

[2017-11-02 16:17] jmoelholt opened #197 "Manuel upgrade with zip file"
Hi
Is it possible to upgrade a plugin or theme manuel with EUM like with the Easy Theme and Plugin Upgrades (https://wordpress.org/plugins/easy-theme-and-plugin-upgrades/)

If not it could be a nice new feature for your else super cool tool.

Best regards
John

[2017-11-02 23:56] mpsparrow commented on #193
Hmm..... so I updated some themes as a test. The version to works great. Version from is the current version as you said. Strangely enough it showed that both the updates failed although the obviously didn't. Let me do a little more testing and see.

[2017-11-06 18:52] ronalfy commented on #193
@mpsparrow this may be due to the update transient.

How are you testing?  I installed a plugin called <a href="https://wordpress.org/plugins/artiss-transient-cleaner/">Transient Cleaner</a> to clean out any transients.

The `develop` branch stores a copy of the plugins/themes in a 30 minute transient that way there is a way to compare the previous and updated version.

For my testing, for example

[2017-11-06 19:43] mpsparrow commented on #193
@ronalfy makes sense. I will try that and see what the outcome is.

[2017-11-06 19:49] mpsparrow commented on #197
A feature like that in Easy Updates Manager currently doesn't exist.

What do you think about this @ronalfy?

[2017-11-06 20:01] mpsparrow commented on #193
@ronalfy Just tested that and it works flawlessly once I clear the transient.

[2017-11-06 21:31] ronalfy commented on #193
Cool. I also added transient cleaning when you click Force Updates in the
most recent commit. That should shave some testing down. No work around for
manual updates though.

On Mon, Nov 6, 2017 at 2:01 PM Matthew <notifications@github.com> wrote:

[2017-11-06 23:38] ronalfy commented on #193
@mpsparrow I'm about ready to deploy this. I feel like I'm playing bug whack-a-mole, and the current status is no bugs, so I'll delay until tomorrow sometime and do some sanity testing on the logs.

[2017-11-06 23:46] mpsparrow commented on #193
@ronalfy I agree. Go ahead whenever you are ready to release it.

[2017-11-07 01:32] #193 closed

[2017-11-07 17:53] ronalfy commented on #193
I'm happy with my current tests :)

![screen shot 2017-11-07 at 11 52 26 am](https://user-images.githubusercontent.com/636521/32509185-368c674e-c3b2-11e7-8555-2ed7b7094b41.png)

[2017-11-20 19:08] ronalfy commented on #196
@mpsparrow @paaljoachim

I'd like to keep the current tabs. I have some ideas for the plugins/themes screen, which I'll do in a later wireframe.

I put together a wireframe for what I think the main tab should look like. I realize Disable updates is one of our least used items, but it kinda makes sense to put it there at the top. The rest of the features are lesser used, but we'll push them more t

[2017-11-20 19:21] ronalfy commented on #196
For the plugins and themes screen, I think a button that says [auto][disabled] will work.

[2017-11-20 19:27] paaljoachim commented on #196
It looks interesting Ron!

[2017-11-21 18:56] ronalfy commented on #194
@perandre I tested this out and it's pretty confusing what it does. I'm not sure we want to add this to the plugin, but I sincerely appreciate the PR.

[2017-11-21 18:56] #194 closed

[2017-11-25 01:34] mpsparrow commented on #196
I am cool with that design.

[2018-01-09 06:14] ronalfy commented on #196
@mpsparrow you can track my progress in the admin-ui branch: https://github.com/easy-updates-manager/easy-updates-manager/tree/admin-ui

I have kept the General tab for now for debugging. When all is well, it will go away.

The hard part is over (the backend, infrastructure, etc). I just need to plow away at the HTML and of course CSS.

Pretty important: I'm using the REST API, so we'll have to up

[2018-01-09 06:17] ronalfy opened #198 "Reset Options alert box"
I can't tell you how many times I've clicked this button on accident.

[2018-01-09 06:18] ronalfy opened #199 "Force Updates Ajax Loading"
We can probably spin this off using Ajax with a fancy countdown timer and periodic cron check.

[2018-01-09 06:19] ronalfy opened #200 "Scheduled Updates"
Plenty of people have been asking for this and it makes sense to include it in this plugin.

I see this living under the advanced tab for the time being.

[2018-01-09 06:20] ronalfy opened #201 "Webhook for Automatic Updates"
Under the Advanced Tab we can have a webhook generator using the REST API that when called, will trigger an automatic update check.

Still not sure about this one, but I'll put it on the 7.0 milestone.

[2018-01-09 06:22] ronalfy commented on #185
Since the new admin UI won't have this interface, and people can do this from the plugins tab from now on, I'm marking this as a wontfix.

[2018-01-09 06:22] #185 closed

[2018-01-09 07:12] paaljoachim opened #202 "On and off setting language and visual queue"
Hey

In regarding the language used: https://easyupdatesmanager.com/updates/

![screen shot 2018-01-09 at 08 03 07](https://user-images.githubusercontent.com/5323259/34708547-9479c896-f513-11e7-8b8b-e2c62fe46a73.png)

It says disallow updates.

The question is are updates for theme on or off? So clicking it makes the specific theme or themes disallow updates.

Doing some thinking out loud...

Upda

[2018-01-09 09:09] ronalfy commented on #197
This is a huge feature and I think it belongs as a separate plugin.

[2018-01-10 04:46] ronalfy commented on #196
@paaljoachim @mpsparrow here's what I have so far. It's looking good. I'm going to try to see if someone can help with styling.

![screencapture-eum-options](https://user-images.githubusercontent.com/636521/34756216-e8a05626-f58e-11e7-8900-77125f7e01c3.png)

[2018-01-10 04:48] ronalfy commented on #196
Here's the data I promised you @paaljoachim

According to the screenshot above, the minority of users will NOT see this full UI. Most just want to turn updates on.

![screencapture-keen-io-projects-592e7be03d5e1597cc43a83e-1515559753312](https://user-images.githubusercontent.com/636521/34756270-34d4df80-f58f-11e7-8268-63e850018204.png)

[2018-01-10 16:19] #197 closed

[2018-01-11 20:08] ronalfy commented on #196
The new admin UI is done.

Here's the browser tests.

IE8 FUBAR
IE9 Compatible
IE10 Compatible
IE11 Compatible
Edge Compatible
Safari Compatible
Firefox Compatible
iOS Safari Compatible
Android Chrome Compatible

[2018-01-11 20:46] mpsparrow commented on #196
Is that Firefox Quantum or the old Firefox @ronalfy?

[2018-01-11 20:53] ronalfy commented on #196
@mpsparrow I ran the latest, which I think is Firefox Quantum.

[2018-01-11 20:57] ronalfy opened #203 "Style Suggestions for new Admin UI"
![screencapture-localhost-osu-wp-admin-index-php-1515704259241](https://user-images.githubusercontent.com/636521/34847035-a9fb1616-f6df-11e7-86e4-b28f28f869fc.png)

Here's the new admin UI. Any suggestions are appreciated.

[2018-01-11 20:58] ronalfy commented on #196
@roarytubbs you can see some of the thought process above with our data.

[2018-01-13 19:41] ronalfy commented on #196
@paaljoachim @roarytubbs @mpsparrow

Hey y'all, if you have time, can you please try out the new UI and give me your thoughts.

You can download it here: https://github.com/easy-updates-manager/easy-updates-manager/tree/admin-ui

[2018-01-13 20:25] roarytubbs commented on #203
@ronalfy
Looks good, only recommendation I have is around your toggles. Reading isn't 100% clear. I'd recommend changing the labels to say either "enabled" or "disabled" based on it's status.  For example instead of saying **Enable or Disable All Updates**, if it's enabled, say "All Updates are Enabled". Offer up a bit more clarity.

[2018-01-13 20:57] #203 closed

[2018-01-14 08:35] paaljoachim commented on #196
Hey Ron @ronalfy

It looks good but needs some logic adjustments.

1. Words need to confirm a setting when it is on or off.
Toggle on = The words say enabled
Toggle off = The words say disabled.

It is confusing seeing a greyed out Enable All Updates toggle. It would be natural to have the visual toggle and words mirror/confirm each other. So the greyed out toggle would instead say All updates dis

[2018-01-14 09:08] ronalfy commented on #196
Thanks for the feedback.

For 3, according to our data logs are heavily used.

For 4, the General tab is going away. I left it there for now for testing
purposes.
On Sun, Jan 14, 2018 at 02:35 Paal Joachim Romdahl <notifications@github.com>
wrote:

[2018-01-14 09:59] ronalfy commented on #196
Seems like we have a disagreement on point one. The label is attached to the toggle and indicates what’ll happen when clicked. This was based on a recommendation from @morganestes , who is also helping on this project.

@mpsparrow any thoughts?

[2018-01-14 10:09] ronalfy commented on #196
For point 2, the disabling updates toggle doesn’t turn off the plugin. If disabled, the plugin prevents any update from occuring.

[2018-01-14 10:32] paaljoachim commented on #196
Point 1. Some good reading here: https://ux.stackexchange.com/questions/1318/should-a-toggle-button-show-its-current-state-or-the-state-to-which-it-will-chan/

Point 2. Minor updates is the only automatic update WordPress automatically does. So by turning off the master switch it disables only the minor updates. This can easily be done with the toggle to turn off minor updates though.

[2018-01-14 14:02] paaljoachim commented on #196
Here is an example I made with Caldera Forms.

![screen shot 2018-01-14 at 15 06 09](https://user-images.githubusercontent.com/5323259/34916698-85a5ed7c-f93c-11e7-8c2e-9eed7029d7fe.png)

An example:
http://gridlight-design.co.uk/demos/switch.html

I would say the next example is similar to what I am talking about. Visual and with words shows when a toggle is on or off.
https://www.htmllion.com/css